/* Error: Can't find stylesheet to import.
 *    ,
 * 64 | @import "apps/thirdparty/apporder";
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   css/server.scss 64:9  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a    \2577 \a 64 \2502  @import \"apps/thirdparty/apporder\";\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   css/server.scss 64:9  root stylesheet";
}
