/* App menu ----------------------------------------------------------------- */

#appmenu li {

	&:hover a + span,
	&:hover span,
	&:focus span,
	a:focus + span,
	a:focus span {
		background-color: $background-dark;
	}

	a.active::before {
		border-bottom-color: $background-normal;
	}

	&:hover a::before {
		border-bottom-color: $decoration-normal;
	}
}

/* App Navigation ----------------------------------------------------------- */

#app-navigation {

	ul > li > a, li > a {
		opacity: 1;

		&:hover, &:hover + div.app-navigation-entry-utils {
			background-color: $background-active-hover;
		}

		&.active:hover {
			background-color: $background-active;
		}
	}

	.active {
		background-color: $background-active;

		> a {
			color: $foreground-active;
			font-weight: 600;
		}
	}

	input {
		background-color: $background-dark;
	}

	select {
		background-color: $background-normal !important;
	}

	.app-navigation-entry-edit,
	.app-navigation-entry-deleted {
		background-color: $background-normal;
	}
}

.app-navigation-entry-menu {

	li > button {
		color: $foreground-normal;

		&:hover {
			background-color: $background-active-hover;
		}
	}
}

/* App Sidebar -------------------------------------------------------------- */

#app-sidebar {
	background-color: $background-normal;
	border-color: $decoration-normal;

	.file-details {
		color: $foreground-normal;
	}

	#app-details-view .close, .close {
		opacity: 0.7;
	}

	.thumbnail {
		color: $foreground-normal;
	}
}

.tabHeaders .tabHeader {
	&, a {
		color: $foreground-normal;
	}

	&.selected, &:hover, &:focus {
		color: $foreground-active;
		border-bottom: 1px solid $decoration-active;
	}
}

.shareTabView {
	.icon {
		opacity: 0.5;
	}

	.error {
		color: $foreground-negative;
		border-color: $background-negative;
		box-shadow: none;
	}
}

.versionsTabView {

	li {
		border-color: $decoration-normal;

		&:hover {
			background: $background-active-hover;
		}
	}

	a {
		opacity: 1;
		color: $foreground-inactive;
	}
}

.ui-widget-content {
	a {
		color: $foreground-normal;
	}

	.ui-state-focus {
		border-color: $decoration-active;
		background: $background-active-hover;
		color: $foreground-normal;
	}
}

/* App Settings ------------------------------------------------------------- */

.settings-button {
	opacity: 1;

	&:hover {
		background-color: $background-active-hover;
	}
}