/* App menu ----------------------------------------------------------------- */

#appmenu li {

	&:hover a + span,
	&:hover span,
	&:focus span,
	a:focus + span,
	a:focus span {
		background-color: $background-dark;
	}

	a.active::before {
		border-bottom-color: $background-normal;
	}

	&:hover a::before {
		border-bottom-color: $decoration-normal;
	}
}

/* App Navigation ----------------------------------------------------------- */

#app-navigation:not(.vue) {

	> ul > li > a,
	> li > a,
	> ul > li > ul > li > a {
		opacity: 1;

		&:hover,
		&:hover + div.app-navigation-entry-utils,
		&:hover + div.app-navigation-entry-edit + div.app-navigation-entry-utils {
			background-color: $background-active-hover;
		}

		&.active:hover {
			background-color: $background-active;
		}
	}

	.collapsible:hover {
	
		&::before {
			background-color: unset;
		}

		> a {
			background-image: none;
		}
	}

	.active {
		background-color: $background-active;
		color: $foreground-active;
		font-weight: 600;

		> a {
			color: $foreground-active;
			font-weight: 600;
		}
	}

	input {
		background-color: $background-dark;
	}

	select {
		background-color: $background-normal !important;
	}

	> ul > li > .app-navigation-entry-bullet + a:hover,
	> ul > li > ul > li > .app-navigation-entry-bullet + a:hover {
		background: $background-active-hover !important;
	}
}

.app-navigation-entry-menu {

	li > button {
		color: $foreground-normal;
		border-radius: unset;

		&:hover {
			background-color: $background-active-hover;
		}
	}
}

/* App Sidebar -------------------------------------------------------------- */

#app-sidebar {

	#app-details-view .close,
	.close {
		opacity: 0.7;
	}

	.thumbnail {
		color: $foreground-normal;
	}

	#collection-list input:not([type="range"]) {
		background-color: $background-normal;
	}
}

.tabHeaders .tabHeader {

	&.selected, &:hover, &:focus {
		border-bottom: 1px solid $decoration-active;

		a {
			color: $foreground-active;
		}
	}
}

.shareTabView {

	.error {
		color: $foreground-negative;
		border-color: $background-negative;
		box-shadow: none;
	}
}

.versionsTabView {

	li {
		border-color: $decoration-normal;

		&:hover {
			background: $background-active-hover;
		}
	}

	a {
		opacity: 1 !important;
		color: $foreground-inactive;
	}
}

.ui-widget-content {
	a {
		color: $foreground-normal;
	}

	.ui-state-focus {
		border-color: $decoration-active;
		background: $background-active-hover;
		color: $foreground-normal;
	}
}

/* App Settings ------------------------------------------------------------- */

#app-settings-header .settings-button {
	opacity: 1;

	&:hover {
		background-color: $background-active-hover;
	}
}

// Date picker styling fix

.mx-datepicker .mx-input-wrapper .mx-input-append {
	background-color: $background-dark !important;
}