/* Content ------------------------------------------------------------------ */

#app-content {
	border-top: 1px solid $decoration-normal;
	height: 99.8%;
}

#app-navigation + #app-content #controls {
	margin-top: 1px;
}

/* App Navigation ----------------------------------------------------------- */

#app-navigation {
	background-color: $background-normal;
	border-color: $decoration-normal;

	li > a {
		color: $foreground-normal;
		opacity: 1;

		&:hover {
			background-color: $background-active-hover;
		}
	}

	.active {
		background-color: $background-active;
		box-shadow: inset 2px 0 $background-active-alternate;

		a {
			color: $foreground-active;
			font-weight: 600;
		}
	}

	.app-external {
		color: $foreground-normal;
	}

	// Not sure this is still used
	.add-new {
		button {
			color: $foreground-normal !important;
		}

		div.heading {
			&:hover {
				background-color: $background-active-hover;
			}
		}
	}

	.add-new-popup {
		box-shadow: none;
		border-color: $decoration-active;
	}
}

.nav-trashbin {
	background-color: $background-normal;
	border-color: $decoration-normal;
}

/* App Sidebar -------------------------------------------------------------- */

#app-sidebar {
	background-color: $background-normal;
	border-color: $decoration-normal;

	.file-details {
		color: $foreground-normal;
	}

	.close {
		opacity: 1;
	}
}

.tabHeaders .tabHeader {
	&, a {
		color: $foreground-normal;
	}

	&.selected a, &:hover a {
		color: $foreground-active;
		border-bottom: 1px solid $decoration-active;
	}
}

/* App Settings ------------------------------------------------------------- */

#app-settings {
	.import-export button {
		margin: 3px 0;
	}
}

#app-settings-content {
	.info-text {
		color: $foreground-normal;
	}
}

#app-settings-content, #app-settings-header {
	border-color: $decoration-normal;
	background-color: $background-normal;
	color: $foreground-normal;

	a {
		color: $foreground-link;
	}
}

.settings-button {
	background-color: $background-normal;
	color: $foreground-normal;

	&:hover {
		background-color: $background-active-hover;
	}

	&:focus, &:active {
		background-color: $background-active;
		color: $foreground-active;
	}
}

/*
===============================================================================
* Left over styling for small apps
===============================================================================
*/

/* First Run Wizard --------------------------------------------------------- */

#cboxLoadedContent {
	background-color: $background-dark;
}

#firstrunwizard p a {
	color: $foreground-link;

	&:hover, &:focus {
		color: $foreground-link;
	}
}

/* Announcement Center ------------------------------------------------------ */

#announcement_submit_msg {
	opacity: 0.8;

	&.success {
		color: $foreground-active;
		background-color: $background-positive;
	}
}

#app-content hr {
	border-color: $decoration-normal;
}

/* File Access Control ------------------------------------------------------ */

.workflowengine .operation {
	border-bottom-color: $decoration-normal;

	.check:hover {
		background-color: $background-normal;
	}

	&.modified {
		border-left-color: $foreground-neutral;
	}
}

/* External Storage --------------------------------------------------------- */

.dropdown {
	background-color: $background-normal;
	box-shadow: none;
	border: 1px solid $decoration-normal;
}

#externalStorage td.mountOptionsToggle > img {
	opacity: 0.7;

	&:hover {
		opacity: 1;
	}
}

 /* Notifications ----------------------------------------------------------- */

.notification-container {
	background-color: $background-normal;
	border-color: $decoration-normal;

	.notification-time {
		opacity: 1;
		color: $foreground-inactive;
	}

	.notification {
		color: $foreground-normal;
	}

	a {
		color: $foreground-link;
	}
}

.notification:not(:last-child) {
	border-bottom: 1px solid $decoration-normal;
}