/* Password ----------------------------------------------------------------- */

.icon-password,
.nav-icon-second-factor-backup-codes,
.nav-icon-apppasswords,
.nav-icon-ransomware-protection {
	background-image: url('../img/actions/password.svg?v=1');
}

/* Home --------------------------------------------------------------------- */

.icon-home,
.icon-inbox,
#oc-dialog-filepicker-content .dirtree div:first-child a {
	background-image: url('../img/places/home.svg?v=1');
}

/* Star --------------------------------------------------------------------- */

.icon-flagged,
.nav-icon-favorites {
	background-image: url('../img/actions/star.svg?v=1');
}

.icon-star,
.icon-starred:hover,
.icon-starred:focus,
.icon-stationfav, {
	background-image: url('../img/actions/star.svg?v=1');
	opacity: 0.5;
}

/* Starred ------------------------------------------------------------------ */

.starred,
.icon-starred,
.icon-star:hover,
.icon-star:focus {
	background-image: url('../img/actions/starred.svg?v=1');
	opacity: 1;
}

/* Rename ------------------------------------------------------------------- */

.icon-rename,
.icon-drafts {
	background-image: url('../img/actions/rename.svg?v=1');
}

/* Error -------------------------------------------------------------------- */

.icon-junk {
	background-image: url('../img/actions/error.svg');
}

/* Delete ------------------------------------------------------------------- */

.icon-delete {
    background-image: url('../img/actions/delete.svg?v=1');

    &:hover, &:focus {
	    background-image: url('../img/actions/delete-hover.svg?v=1');
    }
}

.icon-trash,
.nav-icon-trashbin,
.nav-icon-drop-account {
	background-image: url('../img/actions/delete.svg?v=1');
}

/* Checkmark ---------------------------------------------------------------- */

.icon-checkmark,
.icon-sent,
.icon-category-enabled {
	background-image: url('../img/actions/checkmark.svg?v=1');
}

/* History ------------------------------------------------------------------ */

.icon-history,
#app-navigation .icon-updatemode-default {
	background-image: url('../img/actions/history.svg?v=1');
}

#app-navigation .icon-updatemode-unread {
	background-image: url('../img/actions/history.svg');
	opacity: 0.25;
}

/* External ----------------------------------------------------------------- */

.nav-icon-extstoragemounts,
.nav-icon-external-storage,
.icon-external {
	background-image: url('../img/actions/external.svg?v=1');
}

/* Public ------------------------------------------------------------------- */

.icon-public,
.nav-icon-sharinglinks {
	background-image: url('../img/actions/public.svg?v=1');
}

/* Share -------------------------------------------------------------------- */

.icon-share,
.icon-shared,
.nav-icon-federated-cloud,
.nav-icon-sharingin,
.nav-icon-sharingout {
	background-image: url('../img/actions/share.svg?v=1');
}

/* Tag ---------------------------------------------------------------------- */

.icon-tag,
.nav-icon-systemtagsfilter {
	background-image: url('../img/actions/tag.svg?v=1');
}

/* Link --------------------------------------------------------------------- */

.icon-link {
	background-image: url('../img/places/link.svg?v=1');
}

/* Toggle ------------------------------------------------------------------- */

.icon-toggle,
#show + label,
#dbpassword-toggle + label,
#personal-show + label {
	background-image: url('../img/actions/toggle.svg?v=1');
}

/* Toggle Filelist ---------------------------------------------------------- */

.nav-icon-sessions,
.nav-icon-security {
	background-image: url('../img/actions/toggle-filelist.svg?v=1');
}

/* Toggle Pictures ---------------------------------------------------------- */

.icon-toggle-pictures,
#albenoverview li {
	background-image: url('../img/actions/toggle-pictures.svg');
}

/* Settings ----------------------------------------------------------------- */

.settings-button,
.icon-settings,
.icon-settings-dark,
.icon-category-tools {
	background-image: url('../img/actions/settings.svg?v=1');
}

/* Add ---------------------------------------------------------------------- */

.icon-add {
	background-image: url('../img/actions/add.svg?v=1');
}

/* Upload ------------------------------------------------------------------- */

.icon-upload {
	background-image: url('../img/actions/upload.svg?v=1');
}

/* More --------------------------------------------------------------------- */

.icon-more,
#app-navigation .app-navigation-entry-utils 
.app-navigation-entry-utils-menu-button 
button:not([class^="icon-"]):not([class*=" icon-"]) {
	background-image: url('../img/actions/more.svg?v=1');
}

/* Files -------------------------------------------------------------------- */

.nav-icon-files {
	background-image: url('../img/places/files.svg?v=1');
}

/* Download ----------------------------------------------------------------- */

.icon-download,
.icon-category-updates {
	background-image: url('../img/actions/download.svg?v=1');
}

/* Triangle-N --------------------------------------------------------------- */

.icon-triangle-n {
	background-image: url('../img/actions/triangle-n.svg?v=1');
}

/* Triangle-S --------------------------------------------------------------- */

.icon-triangle-s,
#app-navigation .collapsible::after {
	background-image: url('../img/actions/triangle-s.svg?v=1');
}

select {
	background: url('../img/actions/triangle-s.svg') no-repeat right 8px center;
}

.select2-container .select2-choice .select2-arrow b {
	background: url('../img/actions/triangle-s.svg') no-repeat center !important;
}

/* Details ------------------------------------------------------------------ */

.icon-details {
	background-image: url('../img/actions/details.svg?v=1');
}

/* Contacts ----------------------------------------------------------------- */

.icon-contacts-dark, .icon-contacts {
	background-image: url('../img/places/contacts.svg?v=1');
}

/* Info --------------------------------------------------------------------- */

.icon-info {
	background-image: url('../img/actions/details.svg?v=1');
	opacity: 0.5;
}

/* Help --------------------------------------------------------------------- */

.icon-help {
	background-image: url('../img/help.svg');
}

/* Clippy ------------------------------------------------------------------- */

.icon-clippy {
	background-image: url('../img/actions/clippy.svg?v=2');
	opacity: 0.5;
}

/* Comment ------------------------------------------------------------------ */

.icon-comment {
	background-image: url('../img/actions/comment.svg?v=1');
}

/* Confirm ------------------------------------------------------------------ */

.icon-confirm {
	background-image: url('../img/actions/confirm.svg?v=2');
}

/* Search ------------------------------------------------------------------- */

.icon-search {
	background-image: url('../img/actions/search.svg?v=1');
}

/* Recent ------------------------------------------------------------------- */

.nav-icon-recent {
	background-image: url('../img/actions/recent.svg?v=1');
}

/* Caret -------------------------------------------------------------------- */

.icon-caret-dark {
	background-image: url('../img/actions/caret.svg?v=1');
}

/* RSS ---------------------------------------------------------------------- */

.icon-rss {
	background-image: url('../img/actions/rss.svg') !important;
}

/* Close -------------------------------------------------------------------- */

.icon-close,
.icon-category-disabled {
	background-image: url('../img/actions/close.svg?v=1');
}

.oc-dialog-close {
	background: url('../img/actions/close.svg') no-repeat center;
}

/* Close (no shadow) -------------------------------------------------------- */

.icon-category-disabled {
	background-image: url('../img/actions/close-ns.svg')
}

/* Menu --------------------------------------------------------------------- */

.icon-menu {
	background-image: url('../img/actions/menu.svg?v=1');
}

/* User --------------------------------------------------------------------- */

.nav-icon-personal-settings,
.icon-category-installed {
	background-image: url('../img/actions/user.svg?v=1');
}

/* Right Arrow -------------------------------------------------------------- */

.icon-view-next {
	background-image: url('../img/actions/arrow-right.svg');
}

/* Left Arrow _-------------------------------------------------------------- */

.icon-view-previous {
	background-image: url('../img/actions/arrow-left.svg');
}

/* Right Arrow Big ---------------------------------------------------------- */

.icon-view-next,
.glyphicon-chevron-right,
.ui-widget.ui-datepicker .ui-widget-header .ui-icon.ui-icon-circle-triangle-e {
	background: url("../img/rightarrow.svg") center center no-repeat;
}

/* Left Arrow Big--------------------------------------------------------------- */

.glyphicon-chevron-left,
.ui-widget.ui-datepicker .ui-widget-header .ui-icon.ui-icon-circle-triangle-w {
	background: url("../img/leftarrow.svg") center center no-repeat;
}

/* Change ------------------------------------------------------------------- */

.nav-icon-clientsbox {
	background-image: url('../img/change.svg?v=1');
}

/* Edit --------------------------------------------------------------------- */

.icon-edit {
	background-image: url('../img/actions/edit.svg?v=1')
}

/* Quota -------------------------------------------------------------------- */

.nav-icon-quota {
	background-image: url('../img/actions/quota.svg?v=1');
}

/* Mail --------------------------------------------------------------------- */

.icon-mail,
.icon-social-email {
	background-image: url('../img/email.svg');
}

/* Calendar ----------------------------------------------------------------- */

.icon-badge {
	background-image: url('../img/places/calendar.svg');
}

/* Play --------------------------------------------------------------------- */

.icon-play {
	background-image: url('../img/actions/play.svg');
}

/* Play Big ----------------------------------------------------------------- */

.play-pause,
.play-pause:hover,
.paused .play-pause:hover,
.current.playing .play-pause,
:hover > .play-pause,
#app-view .current:not(.playing):hover > .play-pause,
#app-navigation .current:not(.playing) :hover .play-pause {
	background-image: url('../img/actions/play-big.svg');
}

/* User Plus ---------------------------------------------------------------- */

.icon-add-user {
	background-image: url('../img/actions/user-plus.svg') !important;
}

/* Pause Big ---------------------------------------------------------------- */

.playing .play-pause,
.current:not(.playing) .play-pause, 
#app-view .current.playing:hover > .play-pause,
#app-navigation .current.playing :hover .play-pause {
	background-image: url('../img/actions/pause-big.svg');
}

/* Play Previous ------------------------------------------------------------ */

.sm2-inline-button.previous {
	background-image: url('../img/actions/play-previous.svg');
}

/* Play Next ---------------------------------------------------------------- */

.sm2-inline-button.next {
	background-image: url('../img/actions/play-next.svg');
}

/* Fullscreen --------------------------------------------------------------- */

.icon-fullscreen {
	background-image: url('../img/actions/fullscreen.svg');
}

/* Video -------------------------------------------------------------------- */

.icon-video,
.icon-video-white {
	background-image: url('../img/actions/video.svg');
}

/* Video off ---------------------------------------------------------------- */

.icon-video-off,
.icon-video-off-white {
	background-image: url('../img/actions/video-off.svg');
}

/* Audio -------------------------------------------------------------------- */

.icon-audio,
.icon-audio-white {
	background-image: url('../img/actions/audio.svg');
}

/* Audio off ---------------------------------------------------------------- */

.icon-audio-off,
.icon-audio-off-white {
	background-image: url('../img/actions/audio-off.svg');
}

/* Screen ------------------------------------------------------------------- */

.icon-screen,
.icon-screen-white {
	background-image: url('../img/actions/screen.svg');
}

/* Screen off --------------------------------------------------------------- */

.icon-screen-off,
.icon-screen-off-white {
	background-image: url('../img/actions/screen-off.svg');
}

/* App Categories ----------------------------------------------------------- */

// App Bundles
.icon-category-app-bundles {
	background-image: url('../img/categories/bundles.svg?v=1');
}

// Customization
.icon-category-customization {
	background-image: url('../img/categories/customization.svg?v=1');
}

// Files
.icon-category-files {
	background-image: url('../img/categories/files.svg?v=1');
}

// Games
.icon-category-games {
	background-image: url('../img/categories/games.svg?v=1');
}

// Integration
.icon-category-integration {
	background-image: url('../img/categories/integration.svg?v=1');
}

// Monitoring
.icon-category-monitoring {
	background-image: url('../img/categories/monitoring.svg?v=1');
}

// Multimedia
.icon-category-multimedia {
	background-image: url('../img/categories/multimedia.svg?v=1');
}

// Office & text
.icon-category-office {
	background-image: url('../img/categories/office.svg?v=1');
}

// Organization
.icon-category-organization {
	background-image: url('../img/categories/organization.svg?v=1');
}

// Security
.icon-category-security {
	background-image: url('../img/actions/password.svg?v=1');
}

// Social og communication
.icon-category-social {
	background-image: url('../img/categories/social.svg?v=1');
}

/* Activity App ------------------------------------------------------------- */

.icon-activity,
.nav-icon-activity {
	background-image: url('../img/activity.svg?v=1');
}

/* Calendar App ------------------------------------------------------------- */

.icon-timezone {
	background: url("../img/actions/timezone.svg") center center no-repeat;
}

/* Deck App ----------------------------------------------------------------- */

.icon-deck {
	background: url("../img/deck.svg");
}

/* News App ----------------------------------------------------------------- */

// Unpinned
.icon-unpinned,
#app-navigation .icon-unpinned {
	background-image: url('../img/actions/unpinned.svg');
}

// Pinned
.icon-pinned,
#app-navigation .icon-pinned {
	background-image: url('../img/actions/pinned.svg');
}

// Full text enabled
.icon-full-text-enabled {
	background-image: url('../img/actions/fulltext.svg');
}

// Full text disabled
.icon-full-text-disabled {
	background-image: url('../img/actions/nonfulltext.svg');
}

/* Annoucement Center App --------------------------------------------------- */

.icon-announcement {
	background-image: url('../img/places/announcementcenter.svg');
}

/* Audio player App --------------------------------------------------------- */

.nav-icon-audio-player {
	background-image: url('../img/places/audioplayer.svg');
}

#albenoverview li i {
	color: $foreground-inactive;

	&:hover {
		color: $foreground-active;
	}
}

.sm2-inline-button.repeat {
	background-image: url('../img/actions/repeat.svg');
}

/* Mail App ----------------------------------------------------------------- */

.icon-reply {
	background-image: url('../img/mail/reply.svg');
}

.icon-archive {
	background-image: url('../img/mail/archive.svg');
}

/* Music App ---------------------------------------------------------------- */

.nav-icon-music {
	background-image: url('../img/places/music.svg')
}

/* Social Sharing App ------------------------------------------------------- */

.social-facebook,
.icon-social-facebook {
	background-image: url('../img/social/facebook.svg');
}

.social-twitter,
.icon-social-twitter {
	background-image: url('../img/social/twitter.svg');
}

.social-googleplus,
.icon-social-googleplus {
	background-image: url('../img/social/googleplus.svg');
}

.social-diaspora,
.icon-social-diaspora {
	background-image: url('../img/social/diaspora.svg');
}

/* Two Factor Apps ---------------------------------------------------------- */

.nav-icon-totp-second-factor-auth {
	background-image: url('../img/twofactor-totp.svg?v=1');
}

.icon-u2f-device,
.nav-icon-u2f-second-factor-auth {
	background-image: url('../img/twofactor-u2f.svg?v=1');
}

/* FullTextSearch ----------------------------------------------------------- */

div.icon-fulltextsearch-white {
	background-image: url('../img/fulltextsearch.svg');
}

/* CSS tricks to change icon color ------------------------------------------ */

// Audio player
.sm2-volume-control,
.sm2-inline-button.shuffle {
	filter: invert(95%);
}

// Image viewer
.icon-white {
	filter: unset;

	&.icon-shadow {
		filter: unset;
	}
}

// Change the app icons in the navigation menu to white
#navigation .app-icon {
	filter: none;

	image {
		filter: none;
	}
}

img.notification-icon {
	filter: invert(75%);
}

// Change home icon in gallery app to white
#controls #breadcrumbs .crumb a img {
	filter: invert(95%);
}

.actions a.button.new img {
	filter: invert(75%);
}

// Make icon for impersonate in user menu white
a.impersonate img.svg {
	filter: invert(95%);
}

// Force svgs to 16x16 in settings dropdown
#settings #expanddiv ul li a img {
	width: 16px;
	height: 16px;
}

// Info icon in ldap settings
#ldapSettings .ldapWizardControls a img {
    filter: invert(95%);
}

// Play button in Music App under All Tracks menu

.app-music {

	img.play.svg, img.control {
		filter: invert(95%);
	}
}

// Apps with generic icons names

.app-settings {

	// In admin and personal settings
	#app-navigation img[src$="/img/app-dark.svg"] {
		filter: invert(95%);
	}

	// In admin settings
	#app-navigation img[src$="/settings/img/password.svg"],
	#app-navigation img[src$="/apps/fulltextsearch/img/fulltextsearch_black.svg"] {
		filter: invert(95%);
	}

	// In apps list
	#apps-list .app-image image {
		filter: invert(5%);

	}

	// Apps that are excluded from colour inverting
	#apps-list {

		#app-user_saml .app-image image {
			filter: none;
		}
	}

	#personal-settings .federationScopeMenu ul li a {
		img[src$="/core/img/actions/password.svg"], 
		img[src$="/core/img/places/contacts-dark.svg"],
		img[src$="/core/img/places/link.svg"] {
			filter: invert(95%);
		}
	}
}