// /* Password ----------------------------------------------------------------- */

// .icon-password,
// .nav-icon-second-factor-backup-codes,
// .nav-icon-apppasswords,
// .nav-icon-ransomware-protection {
// 	background-image: url('../img/actions/password.svg?v=1');
// }

// /* Settings ----------------------------------------------------------------- */

// #app-navigation .music-nav-settings a,
// .jsxc_settingsicon {
// 	background-image: url('../img/actions/settings.svg?v=1');
// }

// /* More --------------------------------------------------------------------- */

// .icon-more,
// .icon-more-white,
// .icon-more.icon-white,
// #app-navigation:not(.vue) .app-navigation-entry-utils 
// .app-navigation-entry-utils-menu-button 
// button:not([class^="icon-"]):not([class*=" icon-"]) {
// 	background-image: url('../img/actions/more.svg?v=1');
// }

// /* Help --------------------------------------------------------------------- */

// .icon-help,
// .jsxc_helpicon {
// 	background-image: url('../img/help.svg');
// }

// /* Close -------------------------------------------------------------------- */

// .oc-dialog-close {
// 	background: url('../img/actions/close.svg') no-repeat center !important;
// }

// /* Close (no shadow) -------------------------------------------------------- */

// .icon-category-disabled,
// #newPlaylistBtn_cancel.icon-close {
// 	background-image: url('../img/actions/close-ns.svg')
// }

// /* Menu --------------------------------------------------------------------- */

// .icon-menu,
// #jsxc_menu > span {
// 	background-image: url('../img/actions/menu.svg?v=1');
// }

// // Music app
// .app-music, #music-controls {

// 	.current.playing .play-pause,
// 	div:hover > .play-pause,
// 	#app-view .current:not(.playing) div:hover .play-pause,
// 	#app-navigation .current:not(.playing) :hover .play-pause {
// 		background-image: url('../img/actions/play-big.svg');
// 	}
// }

// /* Clock -------------------------------------------------------------------- */

// .icon-clock {
// 	background-image: url('../img/widgets/clock.svg');
// }

// /* Fortunes ----------------------------------------------------------------- */

// .icon-fortunes {
// 	background-image: url('../img/widgets/fortunes.svg');
// }

// /* Audio player App --------------------------------------------------------- */

// .sm2-inline-button.play-pause,
// .sm2-inline-button.play-pause:hover,
// .paused.sm2-inline-button.play-pause:hover {
// 	background-image: none, url('../img/bar-ui/play.svg');
// }

// .playing .sm2-inline-button.play-pause {
// 	background-image: none, url('../img/bar-ui/pause.svg');
// }

// .sm2-inline-button.previous {
// 	background-image: none, url('../img/bar-ui/previous.svg');
// }

// .sm2-inline-button.next {
// 	background-image: none, url('../img/bar-ui/next.svg');
// }

// .sm2-inline-button.repeat {
// 	background-image: none, url('../img/bar-ui/repeat.svg');
// }

// .sm2-inline-button.shuffle {
// 	background-image: none, url('../img/bar-ui/shuffle.svg');
// }

// .sm2-inline-button.sm2-volume-control,
// .sm2-inline-button.sm2-volume-control.volume-shade {
// 	background-image: none, url('../img/bar-ui/volume.svg');
// }

// /* Music App ---------------------------------------------------------------- */

// .nav-icon-music {
// 	background-image: url('../img/places/music.svg')
// }

// /* Social Sharing App ------------------------------------------------------- */

// .social-facebook,
// .icon-social-facebook {
// 	background-image: url('../img/social/facebook.svg');
// }

// .social-twitter,
// .icon-social-twitter {
// 	background-image: url('../img/social/twitter.svg');
// }

// .social-googleplus,
// .icon-social-googleplus {
// 	background-image: url('../img/social/googleplus.svg');
// }

// .social-diaspora,
// .icon-social-diaspora {
// 	background-image: url('../img/social/diaspora.svg');
// }

// /* FullTextSearch ----------------------------------------------------------- */

// div.icon-fulltextsearch-white {
// 	background-image: url('../img/fulltextsearch.svg');
// }

// /* AppOrder ----------------------------------------------------------------- */

// // Remove filter from icons so they are white
// #app-order #apporder.section #appsorter img {
// 	-webkit-filter: none;
// 	filter: none;
// 	filter: none;
// }

// // Circle app icon
// .nav-icon-circlesfilter {
// 	background-image: url('../img/circles/circle.svg');
// }

// /* Talk --------------------------------------------------------------------- */

// .icon-no-password {
// 	background-image: url('../img/talk/no-password.svg');
// }

/* Apps that haven't moved to variables for icons ---------------------------- */

// News
.icon-rss {
	background-image: var(--icon-rss-000) !important;
}

.icon-unpinned {
	background-image: var(--icon-unpinned-000) !important;
}

.icon-pinned {
	background-image: var(--icon-pinned-000) !important;
}

.icon-full-text-disabled {
	background-image: var(--icon-nonfulltext-000) !important;
}

.icon-full-text-enabled {
	background-image: var(--icon-fulltext-000) !important;
}

/* CSS tricks to change icon color ------------------------------------------ */

// Two Factor App Icon in Personal Settings

img.two-factor-provider-settings-icon[src$="/apps/twofactor_totp/img/app-dark.svg"],
img.two-factor-provider-settings-icon[src$="/apps/twofactor_u2f/img/app-dark.svg"] {
	filter: invert(95%);
}

// Music app: icons for Music player controls in files and in app
#music-controls img.control,
.app-music img.control {
	filter: invert(95%);
}

// Music app: follow-playback icon
.app-music #app-sidebar #follow-playback {
	filter: invert(95%);
}

// Music app: Play button on album covers
.app-music img.play.svg {
	filter: invert(95%);
}

// Music App: Mini play button
.current.playing .play-pause,
#app-view :hover > .play-pause {
	filter: invert(95%);
}

// Music app: Play option in file action menu in Files App
.fileActionsMenu .action-music-play img.icon {
	filter: invert(95%);
}

// Deck app: deck icon in activity tab for individual card
.activity-icon img[src$="/apps/deck/img/deck-dark.svg"] {
	filter: invert(95%);
}

// Deck app: Toggle compact and expand
.icon-toggle-compact-expanded,
.icon-toggle-compact-collapsed {
	filter: invert(95%);
}

// Deck app resource type
.app-deck a.resource-type-deck img {
	filter: invert(95%);
}

// Image viewer
.icon-white {
	filter: unset;

	&.icon-shadow {
		filter: unset;
	}
}

// Change the app icons in the navigation menu to white
#navigation .app-icon {
	filter: none;

	image {
		filter: none;
	}
}

img.notification-icon {
	filter: invert(75%);
}

// Change home icon in gallery app to white
#controls #breadcrumbs .crumb a img {
	filter: invert(95%);
}

.actions a.button.new img {
	filter: invert(75%);
}

// Make icon for impersonate in user menu white
a.impersonate img.svg {
	filter: invert(95%);
}

// Force svgs to 16x16 in settings dropdown
#settings #expanddiv ul li a img {
	width: 16px;
	height: 16px;
}

// Arrow in advanved ldap settings
#ldapSettings .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	filter: invert(95%);
}

// Apps with generic icons names

.app-settings {

	#app-navigation img[src$="/img/app-dark.svg"],
	#app-navigation img[src$="/apps/fulltextsearch/img/fulltextsearch_black.svg"],
	#app-navigation img[src$="/apps/bookmarks/img/bookmarks-black.svg"],
	#app-navigation img[src$="/apps/ojsxc/img/app-black.svg"] {
		filter: invert(95%);
	}

	// In apps list
	#apps-list .app-image image,
	#apps-list-search .app-image image,
	#app-sidebar #app-details-view image.app-icon {
		filter: invert(5%);
	}

	// Apps that are excluded from colour inverting
	#apps-list {

		#app-user_saml .app-image image {
			filter: none;
		}
	}

	// Support submenu -> system information
	.system-information div img[src$="/apps/support/img/system-info.svg"] {
		filter: invert(95%);
	}
}

// Talk: talk icon under projects tab
.app-spreed .linked-icons img[src$="/apps/spreed/img/app-dark.svg"] {
	filter: invert(95%);
}

// Show password icon on login screen
#body-login main form img[src$="/core/img/actions/toggle.svg"] {
	filter: invert(95%);
}

#app-sidebar .tabsContainer #versionsTabView {
	
	img[src$="/core/img/actions/download.svg"],
	img[src$="/core/img/actions/history.svg"] {
		filter: invert(70%);
	}
}

// disable double more menu, check closer to release of NC17 if this is necessary
.icon-more::before {
	display: none;
}

// Override Calendar apps override of the default timezone icon
.icon-timezone {
	background-image: var(--icon-timezone-000);
}

// Override Deck apps override of the deck icon
.icon-deck {
	background-image: var(--icon-deck-deck-000) !important;
}

// Override Deck apps override of the help icon
.icon-help {
	background-image: var(--icon-help-000);
}

// Remove shadow on icons
.icon-shadow {
	filter: none !important;
}
