.icon-link {
	background-image: url('../img/places/link.svg?v=1');
}

.icon-toggle {
	background-image: url('../img/actions/toggle.svg?v=1');
}

.settings-button {
	background-image: url('../img/actions/settings.svg?v=1');
}

.icon-add {
	background-image: url('../img/actions/add.svg?v=1');
}

.icon-delete {
    background-image: url('../img/actions/delete.svg?v=1');

    &:hover, &:focus {
	    background-image: url('../img/actions/delete-hover.svg?v=1');
    }
}

.icon-upload {
	background-image: url('../img/actions/upload.svg?v=1');
}

.icon-folder, .icon-filetype-folder {
	background-image: url('../img/filetypes/folder.svg?v=1');
}

.icon-file, .icon-filetype-text {
	background-image: url('../img/filetypes/text.svg?v=1');
}

.icon-public {
	background-image: url('../img/actions/public.svg?v=1');
}

.icon-share, .icon-shared {
	background-image: url('../img/actions/share.svg?v=1');
}

.icon-more {
	background-image: url('../img/actions/more.svg?v=1');
}

/* Nav Bar Icons */

.nav-icon-files {
	background-image: url('../img/places/files.svg?v=1');
}

.nav-icon-sharingin, .nav-icon-sharingout {
	background-image: url('../img/actions/share.svg?v=1');
}

.nav-icon-sharinglinks {
	background-image: url('../img/actions/public.svg?v=1');
}

.nav-icon-systemtagsfilter {
	background-image: url('../img/actions/tag.svg');
}

.nav-icon-extstoragemounts {
	background-image: url('../img/actions/external.svg?v=1');
}

.nav-icon-trashbin {
	background-image: url('../img/actions/delete.svg?v=1');
}

.icon-external {
	background-image: url('../img/actions/external.svg?v=1');
}

.icon-download {
	background-image: url('../img/actions/download.svg?v=1');
}

.icon-triangle-s {
	background-image: url('../img/actions/triangle-s.svg?v=1');
}

.icon-rename {
	background-image: url('../img/actions/rename.svg?v=1');
}

.icon-details {
	background-image: url('../img/actions/details.svg?v=1');
}

.icon-password {
	background-image: url('../img/actions/password.svg?v=1');
}

.icon-contacts-dark, .icon-contacts {
	background-image: url('../img/places/contacts.svg?v=1');
}

.icon-info {
	background-image: url('../img/actions/details.svg?v=1');
	opacity: 0.5;
}

.icon-clippy {
	background-image: url('../img/actions/clippy.svg?v=2');
	opacity: 0.5;
}

.icon-tag {
	background-image: url('../img/actions/tag.svg?v=1');
}

.icon-comment {
	background-image: url('../img/actions/comment.svg?v=1');
}

.icon-history {
	background-image: url('../img/actions/history.svg?v=1');
}

.icon-confirm {
	background-image: url('../img/actions/confirm.svg?v=2');
}

.icon-search {
	background-image: url('../img/actions/search.svg?v=1');
}

.nav-icon-favorites {
	background-image: url('../img/actions/star.svg?v=1');
}

.nav-icon-recent {
	background-image: url('../img/actions/recent.svg?v=1');
}

.icon-star, .icon-starred:hover, .icon-starred:focus {
	background-image: url('../img/actions/star.svg?v=1');
	opacity: 0.5;
}

.icon-starred, .icon-star:hover, .icon-star:focus {
	background-image: url('../img/actions/starred.svg?v=1');
	opacity: 1;
}

.icon-checkmark {
	background-image: url('../img/actions/checkmark.svg?v=1');
}

.icon-caret-dark {
	background-image: url('../img/actions/caret-dark.svg?v=1');
}

.icon-rss {
	background-image: url('../img/actions/rss.svg') !important;
}

.icon-close {
	background-image: url('../img/actions/close.svg?v=1');
}

.icon-triangle-n {
	background-image: url('../img/actions/triangle-n.svg?v=1');
}

#app-navigation .icon-unpinned, .icon-unpinned {
	background-image: url('../img/actions/unpinned.svg');
}

#app-navigation .icon-pinned, .icon-pinned {
	background-image: url('../img/actions/pinned.svg');
}

.icon-full-text-enabled {
	background-image: url('../img/actions/fulltext.svg');
}

.icon-full-text-disabled {
	background-image: url('../img/actions/nonfulltext.svg');
}

select {
	background: url('../img/actions/triangle-s.svg') no-repeat right 8px center;
}

#app-navigation .app-navigation-entry-utils-menu-button button {
	background-image: url('../img/actions/more.svg?v=1');
}

#app-navigation .collapsible > .collapse {
	background-image: url('../img/actions/triangle-s.svg?v=1');
}

.icon-menu {
	background-image: url('../img/actions/menu.svg?v=1');
}

.icon-timezone {
	background: url("../img/timezone.svg") center center no-repeat;
}

.glyphicon-chevron-right {
	background: url("../img/rightarrow.svg") center center no-repeat;
}

.glyphicon-chevron-left {
	background: url("../img/leftarrow.svg") center center no-repeat;
}

.icon-activity {
	background-image: url('../img/activity.svg?v=1');
}

.nav-icon-personal-settings {
	background-image: url('../img/personal.svg?v=1');
}

.nav-icon-sessions {
	background-image: url('../img/toggle-filelist.svg?v=1');
}

.nav-icon-apppasswords {
	background-image: url('../img/actions/password.svg?v=1');
}

.nav-icon-clientsbox {
	background-image: url('../img/change.svg?v=1');
}

.nav-icon-activity {
	background-image: url('../img/activity-dark.svg?v=1');
}

.nav-icon-federated-cloud {
	background-image: url('../img/actions/share.svg?v=1');
}

#oc-dialog-filepicker-content .dirtree div:first-child a {
	background-image: url('../img/places/home.svg?v=1');
}

.oc-dialog-close {
	background: url('../img/actions/close.svg') no-repeat center;
}

.select2-container .select2-choice .select2-arrow b {
	background: url('../img/actions/triangle-s.svg') no-repeat center !important;
}

#show + label, #dbpassword-toggle + label, #personal-show + label {
	background-image: url('../img/actions/toggle.svg?v=1');
}

.nav-icon-second-factor-backup-codes {
	background-image: url('../img/actions/password.svg?v=1');
}

.icon-announcement {
	background-image: url('../img/places/announcementcenter.svg');
}

.nav-icon-totp-second-factor-auth {
	background-image: url('../img/twofactor-totp.svg?v=1');
}

.nav-icon-u2f-second-factor-auth, .icon-u2f-device {
	background-image: url('../img/twofactor-u2f.svg?v=1');
}

.social-facebook,
.icon-social-facebook {
	background-image: url('../img/social/facebook.svg');
}

.social-twitter,
.icon-social-twitter {
	background-image: url('../img/social/twitter.svg');
}

.social-googleplus,
.icon-social-googleplus {
	background-image: url('../img/social/googleplus.svg');
}

.social-diaspora,
.icon-social-diaspora {
	background-image: url('../img/social/diaspora.svg');
}

.icon-social-email {
	background-image: url('../img/email.svg');
}

#app-navigation .icon-updatemode-unread {
	background-image: url('../img/actions/updatemodeunread.svg');
}

#app-navigation .icon-updatemode-default {
	background-image: url('../img/actions/updatemodedefault.svg');
}

/* CSS tricks to change icon color */

// Change the app icons in the navigation menu to white
#navigation .app-icon {
	filter: none;

	image {
		filter: none;
	}
}

img.notification-icon {
	filter: invert(75%);
}

// Change the button, to gallery app, to white
#controls .button.view-switcher img {
	opacity: 0.6;
	filter: invert(100%);
}

// Change the, to files app, button to white again since it was change to black with the above
#controls .button.view-switcher.gallery img {
	filter: invert(0%);
}

// Change home icon to white in the files app, both for 
.app-files #app-content-files #controls .breadcrumb .crumb a img.svg,
.app-files #app-content-trashbin #controls .breadcrumb .crumb a img.svg {
	filter: invert(100%);
}

// Change home icon in gallery app to white
#controls #breadcrumbs .crumb a img {
	filter: invert(100%);
}

.actions a.button.new img {
	filter: invert(75%);
}

// Make icon for impersonate in user menu white
a.impersonate img.svg {
	filter: invert(100%);
}