#body-user #header, #body-settings #header, #body-public #header {
	background-color: $background-normal;
}

#controls {
	background-color: $background-normal;
}

.section {
	color: $foreground-normal;
}

.menu {
	box-shadow: none;
}

.popovermenu li .menuitem {
	color: $foreground-inactive;
	&:hover {
		color: $foreground-active;
	}
}

/* Breadcrumbs */

div.crumb a, div.crumb > span {
	color: $foreground-inactive;
}

div.crumb:hover, div.crumb:focus, div.crumb a:focus, div.crumb:active {
	-ms-filter: none;
	opacity: 1;
}

div.crumb span.icon-share, div.crumb span.icon-public {
	opacity: 0.3;
}

/* oc-dialog */

.oc-dialog {
	background-color: $background-normal;
	color: $foreground-normal;
	box-shadow: none;
	border: 1px solid $decoration-normal;
}

.oc-dialog-title {
	background-color: $background-normal;
}

.oc-dialog-buttonrow {
	background-image: none;
	background-color: $background-normal;
}

#oc-dialog-filepicker-content .filelist {
	background-color: $background-dark;
}

#oc-dialog-filepicker-content .filepicker_element_selected {
	background-color: $background-active;

	td {
		font-weight: 600;
	}

	.filename {
		color: $foreground-active;
	}

	&:hover {
		background-color: $background-active;
	}
}

/* Cropper */

#cropper .inner-container {
	background-color: $background-normal;
	color: $foreground-normal;
	box-shadow: none;
	border: 1px solid $decoration-normal;

	.jcrop-holder {
		box-shadow: none;
	}
}

// Info colours

#postsetupchecks .errors, 
#postsetupchecks .warnings, 
#security-warning > ul {
	color: $foreground-negative;
}

.success {
	color: $foreground-positive;
}

span {

	&.warnings {
		background-color: $background-negative;
	}

	&.error {
		background-color: $background-negative;
	}

	&.success {
		background-color: $background-positive;
	}
}

.msg {

	&.warnings {
		color: $foreground-active;
		background-color: $background-negative;
	}

	&.error {
		color: $foreground-active;
		background-color: $background-negative;
	}

	&.success {
		color: $foreground-active;
		background-color: $background-positive;
	}
}

#body-user .warning {
	color: $foreground-negative;
	background-color: $background-normal;
	border: 1px solid $decoration-normal;
}

/* use logos from theme */
#header {
	.logo {
	background-image: url('../img/logo.svg');
	width: 250px;
	height: 121px;
	}
	
	.logo-icon {
	background-image: url('../img/logo-icon.svg');
	width: 62px;
	height: 34px;
	}
}

// Search
.searchbox input[type="search"]:focus, .searchbox input[type="search"]:active,
 .searchbox input[type="search"]:valid {
	 color: $foreground-active;
	 border-color: $decoration-active !important;
	 background-color: $background-dark !important;
 }

 #app-content #searchresults {
	 background-color: $background-normal;
 }

/* Navigation */

#navigation {
	background-color: $background-normal;
	box-shadow: none;
	border: 1px solid $decoration-normal;

	&::after {
		border-bottom-color: $decoration-normal;
	}

	a span {
		color: $foreground-normal;
	}
}

#expanddiv {
	background-color: $background-normal;
	border: 1px solid $decoration-normal;
	box-shadow: none;

	&::after {
		border-bottom-color: $decoration-normal;
	}

	a {
		color: $foreground-normal;

		&:hover {
			color: $foreground-active;
		}
	}
}

#app-sidebar .close {
	opacity: 1;
}

// Personal

#quota {
	background-color: $background-dark;
	color: $foreground-normal;
	border: 1px solid $decoration-normal;

	div {
		background-color: $background-dark
	}
}

#sessions .token-list td, #apppasswords .token-list td {
	border-color: $decoration-normal;
	border-top: none;
}

// Admin - Server Settings

.followupsection {
	color: $foreground-normal;
}

.select2-container-multi {
	
	.select2-choices, &.select2-container-active .select2-choices {
		background-color: $background-dark;
		color: $foreground-normal;
		border-color: $decoration-normal;
	}

	.select2-choices .select2-search-choice, &.select2-container-active .select2-choices .select2-search-choice {
		background-color: $background-normal;
		border-color: $decoration-normal;
		color: $foreground-normal;
		-webkit-box-shadow: none;
		box-shadow: none;

		&:hover, &.select2-search-choice-focus {
			background-color: $background-normal;
			border-color: $decoration-active;
		}
	}

	.select2-choices .select2-search-field input {
		color: $foreground-normal;

		&.select2-active {
			background-color: $background-dark !important;
		}
	}
}

.select2-container {
	
	.select2-choice {
		background-color: $background-dark;
		color: $foreground-normal;
		border-color: $decoration-normal;
	}

	.select2-choice .select2-search-choice {
		background-color: $background-normal;
		border-color: $decoration-normal;
		color: $foreground-normal;
		-webkit-box-shadow: none;
		box-shadow: none;

		&:hover, &.select2-search-choice-focus {
			background-color: $background-normal;
			border-color: $decoration-active;
		}
	}
}

#select2-drop {
	background-color: $background-normal;
	color: $foreground-normal;

	&.select2-drop-active {
		border-color: $decoration-normal;
	}

	.select2-results {

		.select2-result, .select2-no-results, .select2-searching {
			background-color: $background-dark;
			color: $foreground-normal;
		}

		.select2-result.select2-selected {
			background-color: $background-normal;
		}

		.select2-result.select2-highlighted {
			background-color: $background-normal;
			color: $foreground-normal;
		}
	}
}

.select2-drop-active {
	border-color: $decoration-normal;
}

// Users

#userlist th.name {
	color: $foreground-normal;
}

div.multiselect.active {
	background-color: $background-normal;
}

ul.multiselectoptions {
	background-color: $background-normal;
	border-color: $decoration-normal;

	&.down {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

select.quota-user {
	background-color: $background-normal !important;

	&:focus, &:active {
		background-color: $background-active !important;
	}

	option {
		background-color: $background-normal;
	}
}

#newgroupname {
	border-bottom: 1px solid $decoration-normal;
}

#app-settings-content .info-text {
	color: $foreground-normal;
}

/* Encryption */

#body-user .warning, #body-settings .warning {
	background: $background-negative;
}

/* Notifications */

#notification {
	background-color: $background-normal;
	border: 1px solid $decoration-normal;
	border-top: none;

	a {
		color: $foreground-link;
	}
}

.notification:not(:last-child) {
	border-bottom: 1px solid $decoration-normal;
}

// App Settings

#app-settings {
	.import-export button {
		margin: 3px 0;
	}
}

#app-settings-content, #app-settings-header {
	border-color: $decoration-normal;
	background-color: $background-normal;
	color: $foreground-normal;

	a {
		color: $foreground-link;
	}
}

.settings-button {
	background-color: $background-normal;
	color: $foreground-normal;

	&:hover {
		background-color: $background-active-hover;
	}

	&:focus, &:active {
		background-color: $background-active;
		color: $foreground-active;
	}
}

// Login Screen Specific

#body-login {
	background-image: none !important;
	background-color: $background-normal !important;
}

#body-login p.info, 
#body-login form fieldset legend, 
#body-login #datadirContent label, 
#body-login form fieldset .warning-info, 
#body-login form input[type="checkbox"] + label {
	color: $foreground-inactive;
}

#body-login #remember_login:hover + label, 
#body-login #remember_login:focus + label,
#body-login #forgot-password:hover, 
#body-login #forgot-password:focus, 
#body-login p.info a:hover, 
#body-login p.info a:focus {
	opacity: 1;
	color: $foreground-active;
}

/* File Sharing */

#body-public #content-wrapper #content {
	border-top: 1px solid $decoration-normal;

	#preview {
		background: inherit;
	}
}

/* Mobile */

@media only screen and (max-width: 768px) {
	#app-content {
		width: 100% !important;
		left: 0 !important;
		background-color: $background-normal;
		overflow-x: hidden !important;
		z-index: 1000;
	}

	#app-navigation-toggle {
		z-index: 1001;
		background-color: $background-active-hover;
		opacity: 0.5;
		border-bottom-right-radius: 5px;
	}
}

/* App Store */

.app-level span {
	color: $foreground-normal;
}

/* Log reader */

#logreader-root table {
	tbody tr {
	background-color: $background-normal !important;

		td {
			border-bottom-color: $decoration-normal;
		}
	}
	thead tr {
		background-color: $background-normal !important;
	}
	thead th {
		color: $foreground-normal;
		border-bottom-color: $decoration-normal;
	}
}