a {
	color: $foreground-link;

	&.icon {
		color: $icon-normal;

		&:hover, &:focus {
			color: $icon-normal;
		}
	}

	&:hover, &:focus {
		color: $foreground-link;
	}

	&.button:hover, &.button:focus {
		color: $foreground-normal;
	}
}

// Tables

table {

	tr {
		background-color: $background-normal;
	}

	th a, a {
		color: $foreground-normal;

		&:hover, &:focus {
			color: $foreground-normal;
		}
	}

	tr.mouseOver {
		background-color: $background-active-hover;

		td {
			background-color: unset;
		}
	}
}

table.grid th, table.grid td {
	border-bottom-color: $decoration-normal;
}

// Input Fields

textarea,
.pager li a,
div[contenteditable="true"] {

	&:not(:disabled):not(.primary) {
		
		&:not(#quota):hover {
			border-color: $decoration-active;
		}
		
		&:focus, &:active {
			background-color: $background-dark;
			border-color: $decoration-active;
		}

		&.active {
			border-color: $decoration-active;
		}
	}

	&:not(:disabled) {

		&:hover, &:active, &:focus {
			border-color: $decoration-active !important;
		}
	}
	
	&:disabled {
		background-color: $background-alternate;
		color: $foreground-inactive;
		opacity: 1;

		&:hover, &:focus, &:active {
			border-color: $decoration-normal;
		}
	}
}

select,
button,
.button,
input[type="submit"],
input[type="button"] {
	background-color: $background-normal;
	border: 1px solid $decoration-normal;
	color: $foreground-normal;

	&:not(:disabled):not(.primary):not(#quota) {
		
		&:hover {
			border-color: $decoration-active;
		}
		
		&:focus, &:active, &.active {
			background-color: $background-active;
			border-color: $decoration-active;
		}
	}

	&:disabled {
		background-color: $background-alternate;
		color: $foreground-inactive;
		opacity: 1;

		&:hover, &:focus, &:active {
			background-color: $background-alternate;
			border-color: $decoration-normal;
		}
	}

	&.primary {
		&:not(:disabled) {
			border-color: $decoration-normal;
			background-color: $background-dark;
			color: $foreground-active;

			&:hover {
				border-color: $button-decoration-active;
				background-color: $background-active-alternate;
			}

			&:focus, &:active {
				background-color: $background-active;
				border-color: $decoration-active;
			}
		}

		&:disabled {
			background-color: $background-alternate;
			color: $foreground-inactive;
			border-color: $decoration-normal;

			&:hover, &:focus, &:active {
				background-color: $background-alternate;
				color: $foreground-inactive;
				border-color: $decoration-normal;
			}
		}
	}
}

div[contenteditable="false"] {
	background-color: $background-alternate;
	border-color: $decoration-normal;
	opacity: 1;
}

// Header buttons

#header .button.primary, #header button.primary {
	border-color: $decoration-normal;

	&:hover, &:active, &:focus {
		border-color: $decoration-active;
	}
}

// Link Buttons

.link-button:active,
.link-button:hover,
.link-button:focus {
	color: $foreground-normal;
	background-color: $foreground-link;
	border-color: $decoration-active !important;
}

/* General nextcloud -------------------------------------------------------- */

.preview {
	filter: none;

	&:hover,
	&:focus,
	&.selected {
		filter: none;
		border-color: $decoration-active;
	}
}

.dropdown,
#dropdown {
	background-color: $background-normal;
	box-shadow: none;
	border: 1px solid $decoration-normal;

	input[type="text"] + .icon-confirm {
		height: 32px;
		width: 32px;
	}

	.shareWithConfirm.icon-confirm {
		padding: 16px !important;
		top: 20px;
	}
}

#link {
	border-top-color: $decoration-normal;
}
