/* Activity */
.activitymessage {
	color: $foreground-normal;
	opacity: 0.6;
}

.box .activitytime {
	color: $foreground-inactive;
	opacity: 0.5;
}

#no_more_activities {
	color: $foreground-inactive;
	opacity: 0.5;
}

/* Announcement Center */
#announcement_submit_msg {
	opacity: 0.8;

	&.success {
		color: $foreground-active;
		background-color: $background-positive;
	}
}

#app-content hr {
	border-color: $decoration-normal;
}

/* Contacts */

.app-content-list {
	background-color: $background-dark;
	border-top: 1px solid $decoration-normal;
	border-right: 1px solid $decoration-normal;
}

.app-content-list-item {
	border-color: $decoration-normal;

	&:first-child {
		border: none;
	}

	&:hover {
		background-color: $background-active-hover;
	}

	&:active, &:focus {
		background-color: $background-active;
	}

	&.active {
		background-color: $background-active;
		color: $foreground-active;
		font-weight: 600;
		border-color: $decoration-active;
	}

	a {
		color: $foreground-normal;
	}
}

.contacts-list-count {
	color: $foreground-inactive;
	border-color: $decoration-normal;
}

.contact-details-wrapper {
	background-color: $background-normal;
}

.contactdetails__header {
	background-color: $background-active !important;
	color: $foreground-normal;

	.contactdetails__org, .contactdetails__title {
		color: $foreground-normal !important;
		font-weight: 600;

		&:placeholder-shown {
			color: $foreground-normal;
			opacity: 1;
		}
	}
}

.contactdetails__name {
	color: $foreground-normal;
	font-weight: 600;
}

detailsitem .icon-delete {
	opacity: 0.4;
}

input.newAddressBookSubmit {
	border: none;
	background-color: inherit;

	&:hover, &:focus, &:active {
		border: none;
		background-color: inherit;
	}
}

input.newAddressBookInput {
	padding: 5px;
}

/* Files */
.app-files #app-content {
	border-top: 1px solid $decoration-normal;
	height: 99.9%;
	background-color: $background-dark;
}

#app-content-files #filestable {
	background-color: $background-dark;
}

#app-content-files #controls {
	background-color: $background-normal;
	margin-top: 1px;
}

#filestable tbody {
	tr {
		background-color: $background-dark;

		&:hover {
			background-color: $background-active-hover;
		}

		&:focus, &:active {
			background-color: $background-active;
		}

		&.highlighted, &.highlighted .name:focus, &.selected, &.searchresult {
			background-color: $background-active;
			color: $foreground-active;
		}
	}

	.name:focus {
		background-color: $background-dark;
	}
}

.summary {
	color: $foreground-inactive;
	opacity: 1;
}

table tr.mouseOver td {
	background-color: $background-dark;
}

table td.filesize {
	color: $foreground-inactive !important;
}

span.extension {
	color: $foreground-inactive;
}

#app-content-systemtagsfilter {
	#controls input[type="text"] {
		height: 34px;
		padding: 6px 10px;
	}

	.select2-choices {
		background-color: $background-dark;
		border-color: $decoration-normal;
		color: $foreground-normal;
	}
}

#fileList .popovermenu .action {
	color: $foreground-normal;
}

#fileList a.action.permanent {
	opacity: 0.4 !important;
}

#controls .button.view-switcher {
	background-color: $background-normal;
	border: 1px solid $decoration-normal;

	&:hover {
		border-color: $decoration-active;
		background-color: $background-normal;
	}

	&:focus, &:active {
		border-color: $decoration-active;
		background-color: $background-active;
	}

	img {
		opacity: 0.6;
	}
}

// App Sidebar

#app-sidebar {
	background-color: $background-normal;
	border-color: $decoration-normal;

	.file-details {
		color: $foreground-normal;
	}
}

.tabHeaders .tabHeader, .tabHeaders .tabHeader a {
	color: $foreground-normal;
}

.tabHeaders .tabHeader.selected a, 
.tabHeaders .tabHeader:hover a {
	color: $foreground-active;
	border-bottom: 1px solid $decoration-active;
}

/* Gallery */

#content-wrapper .app-gallery {
	background-color: $background-dark;
}

#controls .button {
	&.sorting {
		padding: 8px 5px;

		&.active-button {
			background-color: $background-active;
			border-color: $decoration-active;
			color: $foreground-normal;

			&:hover {
				background-color: $background-active;
				border-color: $decoration-active;
				color: $foreground-normal;

			}
		}
	}

	&.left-switch-button {
		border-color: $decoration-normal;

		&:hover {
			border-color: $decoration-active;
		}
	}

	&.view-switcher.gallery {
		background-color: $background-normal;
		color: $foreground-normal;
		border: 1px solid $decoration-normal;

		&:hover {
			background-color: $background-normal;
			color: $foreground-normal;
			border-color: $decoration-active
		}

		&:focus, &:active {
			background-color: $background-active;
			border-color: $decoration-active;
		}
	}
}

#dropdown {
	background: $background-normal;
	box-shadow: none;
	border: 1px solid $decoration-normal;
}

#link {
	border-color: $decoration-normal;
}

/* News */

#explore {
	
	.category {
		background-color: $background-active;
	}

	.grid-item {
		border-color: $decoration-normal;
	}

	.explore-footer a {
		color: $foreground-link;
	}
}

.app-news #app-navigation {
	li.collapsible.open {
		a {
			background-color: $background-dark;
		}
	}

	li.folder {
		border-right: 1px solid $decoration-normal;
	}

    .app-navigation-entry-menu {
        background-color: $background-normal;
        color: $foreground-normal;
        border: 1px solid $decoration-normal;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;

        &::after {
            border-bottom-color: $decoration-normal;
        }
    }
}

#app-content {
	.item {
		background-color: $background-dark;
		border-color: $decoration-normal;
	}

	.item.active {
		background-color: $background-dark;
		background-image: none;
	}

	.date {
		color: $foreground-inactive;
	}

	.heading a {
		color: $foreground-normal;
	}

	.subtitle {
		color: $foreground-inactive;
	}

	.utils .title h1 a {
		color: $foreground-normal;
	}

	.finished-auto-paging #articles::after {
		background-color: $background-dark;
		background-image: none;
	}

    .no-feeds-available {
        color: $foreground-markdown-marker;
    }

    .body {

        a {
		    color: $foreground-link;
        }

        blockquote {
            border-color: $decoration-active;
            background-color: $background-normal;
        }

        h1, h2, h3 {
            color: $foreground-active;
        }

        h4, h5, h6 {
            color: $foreground-normal;
        }

        pre {
            background-color: $background-normal;
            border-color: $decoration-normal;
        }
	}
}

/* Notes */
#app-navigation li .nav-entry {
	color: $foreground-normal;
}

.note-search input {
	border: none;
	background-color: transparent;
	color: $foreground-normal;

	&:active, &:focus, &:hover {
		border-bottom: 1px solid $decoration-active;
		color: $foreground-active;
	}
}

.mdedit {
	color: $foreground-normal;

	.marker {
		color: $foreground-markdown-marker;
	}
}

#app-navigation .active > .utils {
	.icon-delete:hover, .icon-star:hover {
		opacity: 0.7;
	}
}

/* First Run Wizard */
#cboxLoadedContent {
	background-color: $background-dark;
}

#firstrunwizard p a {
	color: $foreground-link;

	&:hover, &:focus {
		color: $foreground-link;
	}
}

/* File Access Control */
.workflowengine .operation {
	border-bottom-color: $decoration-normal;

	.check:hover {
		background-color: $background-normal;
	}

	&.modified {
		border-left-color: $foreground-neutral;
	}
}

/* External Storage */
table.grid th, table.grid td {
	border-bottom-color: $decoration-normal;
}

.dropdown {
	background-color: $background-normal;
	box-shadow: none;
	border: 1px solid $decoration-normal;
}

#externalStorage td.mountOptionsToggle > img {
	opacity: 0.7;

	&:hover {
		opacity: 1;
	}
}

/* Two Factor U2F */
.two-factor-link {
	padding: 0 12px;
	color: $foreground-inactive;

	&:hover {
		color: $foreground-active;
	}
}

#body-login .warning {
	background-color: $background-dark;
}

.challenge-form input[type="text"], .totp-form input[type="text"] {
	background: $background-normal;
}