/*
=============================================================================
* Nextcloud breeze dark theme
* Version: 14.0.0
* Check it out at https://github.com/mwalbeck/nextcloud-breeze-dark
=============================================================================
*/
// General and Nextcloud Core
@import 'core/colours';
@import 'core/icons';
@import 'core/style';
@import 'core/server';
@import 'core/apps';
// Base
@import 'apps/base/activity';
@import 'apps/base/announcement-center';
@import 'apps/base/calendar';
@import 'apps/base/contacts';
@import 'apps/base/external-sites';
@import 'apps/base/file-access-control';
@import 'apps/base/files';
@import 'apps/base/first-run-wizard';
@import 'apps/base/gallery';
@import 'apps/base/log-reader';
@import 'apps/base/news';
@import 'apps/base/notes';
@import 'apps/base/notifications';
@import 'apps/base/text-editor';
@import 'apps/base/two-factor';
// Extra
@import 'apps/extra/audio-player';
@import 'apps/extra/bookmarks';
@import 'apps/extra/circles';
@import 'apps/extra/deck';
@import 'apps/extra/files-rightclick';
@import 'apps/extra/flow-upload';
@import 'apps/extra/fulltextsearch';
@import 'apps/extra/group-folders';
@import 'apps/extra/ldap';
@import 'apps/extra/mail';
@import 'apps/extra/music';
@import 'apps/extra/passman';
@import 'apps/extra/passwords';
@import 'apps/extra/phone-sync';
@import 'apps/extra/quicknotes';
@import 'apps/extra/radio';
@import 'apps/extra/retention';
@import 'apps/extra/sso-saml';
@import 'apps/extra/tasks';
@import 'apps/extra/user-account-deletion';
@import 'apps/extra/video-calls';
@import 'apps/extra/weather';
