/*
Error: File to import not found or unreadable: apps/extra/file-access-control.
        on line 32 of server.scss

27: @import 'apps/extra/announcement-center';
28: @import 'apps/extra/audio-player';
29: @import 'apps/extra/bookmarks';
30: @import 'apps/extra/circles';
31: @import 'apps/extra/deck';
32: @import 'apps/extra/file-access-control';
33: @import 'apps/extra/files-rightclick';
34: @import 'apps/extra/flow-upload';
35: @import 'apps/extra/fulltextsearch';
36: @import 'apps/extra/group-folders';
37: @import 'apps/extra/ldap';

Backtrace:
server.scss:32
/usr/lib/ruby/vendor_ruby/sass/tree/import_node.rb:67:in `rescue in import'
/usr/lib/ruby/vendor_ruby/sass/tree/import_node.rb:44:in `import'
/usr/lib/ruby/vendor_ruby/sass/tree/import_node.rb:28:in `imported_file'
/usr/lib/ruby/vendor_ruby/sass/tree/import_node.rb:37:in `css_import?'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:313:in `visit_import'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `block in with_base'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:115:in `with_frame'
/usr/lib/ruby/vendor_ruby/sass/stack.rb:79:in `with_base'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:160:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `map'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:168:in `visit_children'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:188:in `visit_root'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/base.rb:36:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:159:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/visitors/perform.rb:8:in `visit'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:36:in `css_tree'
/usr/lib/ruby/vendor_ruby/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:298:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:473:in `on_file_changed'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:331:in `block in watch'
/usr/lib/ruby/vendor_ruby/listen/event/config.rb:23:in `call'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:115:in `_process_changes'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:19:in `block in loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop'
/usr/lib/ruby/vendor_ruby/listen/event/processor.rb:15:in `loop_for'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:84:in `_wait_for_changes'
/usr/lib/ruby/vendor_ruby/listen/event/loop.rb:42:in `block in setup'
/usr/lib/ruby/vendor_ruby/listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: File to import not found or unreadable: apps/extra/file-access-control.\A         on line 32 of server.scss\A \A 27: @import 'apps/extra/announcement-center';\A 28: @import 'apps/extra/audio-player';\A 29: @import 'apps/extra/bookmarks';\A 30: @import 'apps/extra/circles';\A 31: @import 'apps/extra/deck';\A 32: @import 'apps/extra/file-access-control';\A 33: @import 'apps/extra/files-rightclick';\A 34: @import 'apps/extra/flow-upload';\A 35: @import 'apps/extra/fulltextsearch';\A 36: @import 'apps/extra/group-folders';\A 37: @import 'apps/extra/ldap';"; }
