/*
=============================================================================
* Nextcloud breeze dark theme
* Version: 13.0.5
* Check it out at https://github.com/mwalbeck/nextcloud-breeze-dark
=============================================================================
*/
// General and Nextcloud Core
@import 'core/colours';
@import 'core/icons';
@import 'core/style';
@import 'core/server';
@import 'core/apps';
// Official apps
@import 'apps/activity';
@import 'apps/announcement-center';
@import 'apps/calendar';
@import 'apps/circles';
@import 'apps/contacts';
@import 'apps/file-access-control';
@import 'apps/files';
@import 'apps/first-run-wizard';
@import 'apps/gallery';
@import 'apps/group-folders';
@import 'apps/ldap';
@import 'apps/log-reader';
@import 'apps/notifications';
@import 'apps/retention';
@import 'apps/sso-saml';
@import 'apps/text-editor';
@import 'apps/two-factor';
@import 'apps/video-calls';
// 3rd party apps
@import 'apps/audio-player';
@import 'apps/bookmarks';
@import 'apps/mail';
@import 'apps/news';
@import 'apps/notes';
@import 'apps/passman';
@import 'apps/phone-sync';
@import 'apps/tasks';
@import 'apps/radio';
@import 'apps/music';
@import 'apps/user-account-deletion';
@import 'apps/flow-upload';
@import 'apps/deck';
@import 'apps/fulltextsearch';
@import 'apps/weather';
@import 'apps/quicknotes';
@import 'apps/passwords';
@import 'apps/files-rightclick';