/* 
 * 
 * All the colours for the Nextcloud Breeze Dark Theme.
 *
*/
/* Default Colors */
/* Buttons*/
/* Input */
body {
  color: #EFF0F1;
  background-color: #31363B; }

#body-user #header, #body-settings #header, #body-public #header {
  background-color: #31363B; }

a {
  color: #2980B9; }

em {
  opacity: 0.75; }

/* Tables */
tbody tr:hover, tbody tr:focus {
  background-color: rgba(61, 174, 233, 0.25); }
tbody a {
  color: #EFF0F1; }

table thead th {
  background-color: #31363B; }
table th, table td {
  border-bottom: 1px solid #706F6E; }

td.date, td.date > span {
  color: #BDC3C7 !important; }

#filestable {
  background-color: #232629; }

.section {
  color: #EFF0F1; }

/* oc-dialog */
.oc-dialog {
  background-color: #31363B;
  color: #EFF0F1;
  box-shadow: none;
  border: 1px solid #706F6E; }

.oc-dialog-title {
  background-color: #31363B; }

.oc-dialog-buttonrow {
  background-image: none;
  background-color: #31363B; }

#oc-dialog-filepicker-content .filelist {
  background-color: #232629; }

#oc-dialog-filepicker-content .filepicker_element_selected {
  background-color: #3daee9; }
  #oc-dialog-filepicker-content .filepicker_element_selected td {
    font-weight: 600; }
  #oc-dialog-filepicker-content .filepicker_element_selected .filename {
    color: #FCFCFC; }
  #oc-dialog-filepicker-content .filepicker_element_selected:hover {
    background-color: #3daee9; }

/* Cropper */
#cropper .inner-container {
  background-color: #31363B;
  color: #EFF0F1;
  box-shadow: none;
  border: 1px solid #706F6E; }
  #cropper .inner-container .jcrop-holder {
    box-shadow: none; }

#postsetupchecks .errors,
#postsetupchecks .warnings,
#security-warning > ul {
  color: #DA4453; }

.success {
  color: #27AE60; }

span.warnings {
  background-color: #DA4453; }
span.error {
  background-color: #DA4453; }
span.success {
  background-color: #27AE60; }

.msg.warnings {
  color: #FCFCFC;
  background-color: #DA4453; }
.msg.error {
  color: #FCFCFC;
  background-color: #DA4453; }
.msg.success {
  color: #FCFCFC;
  background-color: #27AE60; }

#body-user .warning {
  color: #DA4453;
  background-color: #31363B;
  border: 1px solid #706F6E; }

/* use logos from theme */
#header .logo {
  background-image: url("../img/logo.svg");
  width: 250px;
  height: 121px; }
#header .logo-icon {
  background-image: url("../img/logo-icon.svg");
  width: 62px;
  height: 34px; }

/* Input Fields */
input[type="text"], input[type="password"], input[type="search"],
input[type="number"], input[type="email"], input[type="tel"],
input[type="url"], input[type="time"], textarea {
  background-color: #232629;
  color: #BDC3C7;
  border: 1px solid #706F6E; }
  input[type="text"]:hover, input[type="text"]:focus, input[type="password"]:hover, input[type="password"]:focus, input[type="search"]:hover, input[type="search"]:focus,
  input[type="number"]:hover,
  input[type="number"]:focus, input[type="email"]:hover, input[type="email"]:focus, input[type="tel"]:hover, input[type="tel"]:focus,
  input[type="url"]:hover,
  input[type="url"]:focus, input[type="time"]:hover, input[type="time"]:focus, textarea:hover, textarea:focus {
    color: #FCFCFC;
    border-color: #3DAEE9; }
  input[type="text"]:disabled, input[type="password"]:disabled, input[type="search"]:disabled,
  input[type="number"]:disabled, input[type="email"]:disabled, input[type="tel"]:disabled,
  input[type="url"]:disabled, input[type="time"]:disabled, textarea:disabled {
    background-color: #4D4D4D; }
    input[type="text"]:disabled:hover, input[type="text"]:disabled:focus, input[type="text"]:disabled:active, input[type="password"]:disabled:hover, input[type="password"]:disabled:focus, input[type="password"]:disabled:active, input[type="search"]:disabled:hover, input[type="search"]:disabled:focus, input[type="search"]:disabled:active,
    input[type="number"]:disabled:hover,
    input[type="number"]:disabled:focus,
    input[type="number"]:disabled:active, input[type="email"]:disabled:hover, input[type="email"]:disabled:focus, input[type="email"]:disabled:active, input[type="tel"]:disabled:hover, input[type="tel"]:disabled:focus, input[type="tel"]:disabled:active,
    input[type="url"]:disabled:hover,
    input[type="url"]:disabled:focus,
    input[type="url"]:disabled:active, input[type="time"]:disabled:hover, input[type="time"]:disabled:focus, input[type="time"]:disabled:active, textarea:disabled:hover, textarea:disabled:focus, textarea:disabled:active {
      border-color: #706F6E; }

/* Buttons */
input[type="submit"], input[type="button"],
button, .button, select {
  background-color: #31363B;
  border: 1px solid #706F6E;
  color: #EFF0F1; }
  input[type="submit"]:hover, input[type="button"]:hover,
  button:hover, .button:hover, select:hover {
    background-color: #31363B;
    color: #EFF0F1;
    border-color: #3DAEE9; }
  input[type="submit"]:focus, input[type="submit"]:active, input[type="button"]:focus, input[type="button"]:active,
  button:focus,
  button:active, .button:focus, .button:active, select:focus, select:active {
    background-color: #3daee9;
    color: #FCFCFC;
    border-color: #3DAEE9; }
  input[type="submit"]:disabled, input[type="button"]:disabled,
  button:disabled, .button:disabled, select:disabled {
    background-color: #4D4D4D; }
    input[type="submit"]:disabled:hover, input[type="submit"]:disabled:focus, input[type="submit"]:disabled:active, input[type="button"]:disabled:hover, input[type="button"]:disabled:focus, input[type="button"]:disabled:active,
    button:disabled:hover,
    button:disabled:focus,
    button:disabled:active, .button:disabled:hover, .button:disabled:focus, .button:disabled:active, select:disabled:hover, select:disabled:focus, select:disabled:active {
      background-color: #4D4D4D;
      border-color: #706F6E; }

.primary, input.primary[type="submit"], input.primary[type="button"],
button.primary, .button.primary {
  border-color: #706F6E;
  background-color: #232629;
  color: #EFF0F1; }
  .primary:hover, input.primary[type="submit"]:hover, input.primary[type="button"]:hover,
  button.primary:hover, .button.primary:hover {
    background-color: #232629;
    color: #EFF0F1;
    border-color: #3DAEE9; }
  .primary:focus, .primary:active, input.primary[type="submit"]:focus, input.primary[type="submit"]:active, input.primary[type="button"]:focus, input.primary[type="button"]:active,
  button.primary:focus,
  button.primary:active, .button.primary:focus, .button.primary:active {
    background-color: #3daee9;
    color: #FCFCFC;
    border-color: #3DAEE9; }
  .primary:disabled, input.primary[type="submit"]:disabled, input.primary[type="button"]:disabled,
  button.primary:disabled, .button.primary:disabled {
    background-color: #4D4D4D;
    color: #BDC3C7; }
    .primary:disabled:hover, .primary:disabled:focus, .primary:disabled:active, input.primary[type="submit"]:disabled:hover, input.primary[type="submit"]:disabled:focus, input.primary[type="submit"]:disabled:active, input.primary[type="button"]:disabled:hover, input.primary[type="button"]:disabled:focus, input.primary[type="button"]:disabled:active,
    button.primary:disabled:hover,
    button.primary:disabled:focus,
    button.primary:disabled:active, .button.primary:disabled:hover, .button.primary:disabled:focus, .button.primary:disabled:active {
      background-color: #4D4D4D;
      color: #BDC3C7;
      border-color: #706F6E; }

/* Navigation */
#navigation {
  background-color: #31363B;
  box-shadow: none;
  border: 1px solid #706F6E; }
  #navigation::after {
    border-bottom-color: #706F6E; }
  #navigation a span {
    color: #EFF0F1; }

#settings {
  color: #EFF0F1; }

#expanddiv {
  background-color: #31363B;
  border: 1px solid #706F6E;
  box-shadow: none; }
  #expanddiv::after {
    border-bottom-color: #706F6E; }
  #expanddiv a {
    color: #EFF0F1; }

/* Settings */
#quota {
  background-color: #232629;
  color: #EFF0F1;
  border: 1px solid #706F6E; }
  #quota div {
    background-color: #232629; }

#sessions .token-list td, #apppasswords .token-list td {
  border-color: #706F6E;
  border-top: none; }

.followupsection {
  color: #EFF0F1; }

.select2-container-multi .select2-choices, .select2-container-multi.select2-container-active .select2-choices {
  background-color: #232629;
  color: #EFF0F1;
  border-color: #706F6E; }
.select2-container-multi .select2-choices .select2-search-choice, .select2-container-multi.select2-container-active .select2-choices .select2-search-choice {
  background-color: #31363B;
  border-color: #706F6E;
  color: #EFF0F1;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .select2-container-multi .select2-choices .select2-search-choice:hover, .select2-container-multi .select2-choices .select2-search-choice.select2-search-choice-focus, .select2-container-multi.select2-container-active .select2-choices .select2-search-choice:hover, .select2-container-multi.select2-container-active .select2-choices .select2-search-choice.select2-search-choice-focus {
    background-color: #31363B;
    border-color: #3DAEE9; }
.select2-container-multi .select2-choices .select2-search-field input {
  color: #EFF0F1; }
  .select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background-color: #232629 !important; }

.select2-container .select2-choice {
  background-color: #232629;
  color: #EFF0F1;
  border-color: #706F6E; }
.select2-container .select2-choice .select2-search-choice {
  background-color: #31363B;
  border-color: #706F6E;
  color: #EFF0F1;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .select2-container .select2-choice .select2-search-choice:hover, .select2-container .select2-choice .select2-search-choice.select2-search-choice-focus {
    background-color: #31363B;
    border-color: #3DAEE9; }

#select2-drop {
  background-color: #31363B;
  color: #EFF0F1; }
  #select2-drop.select2-drop-active {
    border-color: #706F6E; }
  #select2-drop .select2-results .select2-result, #select2-drop .select2-results .select2-no-results, #select2-drop .select2-results .select2-searching {
    background-color: #232629;
    color: #EFF0F1; }
  #select2-drop .select2-results .select2-result.select2-selected {
    background-color: #31363B; }
  #select2-drop .select2-results .select2-result.select2-highlighted {
    background-color: #31363B;
    color: #EFF0F1; }

.select2-drop-active {
  border-color: #706F6E; }

#userlist th.name {
  color: #EFF0F1; }

div.multiselect.active {
  background-color: #31363B; }

ul.multiselectoptions {
  background-color: #31363B;
  border-color: #706F6E; }
  ul.multiselectoptions.down {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none; }

/* Notifications */
#notification {
  background-color: #31363B;
  border: 1px solid #706F6E;
  border-top: none; }
  #notification a {
    color: #2980B9; }

/* App Navigation */
#app-navigation {
  background-color: #31363B;
  border: none; }
  #app-navigation li > a {
    color: #EFF0F1 !important;
    opacity: 1; }
  #app-navigation li:hover > a {
    background-color: rgba(61, 174, 233, 0.25); }
  #app-navigation li:focus > a {
    background-color: #3daee9; }
  #app-navigation .active {
    background-color: #3daee9; }
  #app-navigation .active a {
    color: #FCFCFC;
    font-weight: 600;
    background-color: inherit; }
  #app-navigation .add-new button {
    color: #EFF0F1 !important; }
  #app-navigation .add-new div.heading:hover {
    background-color: rgba(61, 174, 233, 0.25); }
  #app-navigation .add-new-popup {
    box-shadow: none;
    border-color: #3DAEE9; }

.nav-trashbin {
  background-color: #31363B;
  border: none; }

.bubble {
  background-color: #31363B;
  color: #EFF0F1;
  border: 1px solid #706F6E;
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none; }
  .bubble::after {
    border-bottom-color: #706F6E; }

.popovermenu .menuitem {
  color: #EFF0F1; }

#app-settings .import-export button {
  margin: 3px 0; }

#app-settings-content, #app-settings-header {
  border: none; }

#app-settings-content {
  background-color: #31363B; }
  #app-settings-content a {
    color: #2980B9; }

.settings-button {
  background-color: #31363B; }
  .settings-button:hover {
    background-color: rgba(61, 174, 233, 0.25); }
  .settings-button:focus, .settings-button:active {
    background-color: #3daee9;
    color: #FCFCFC; }

/* Login Screen Specific */
#body-login {
  background: none;
  background-color: #31363B; }

#body-login form input[type="checkbox"] + label {
  color: #BDC3C7; }

#body-login #remember_login:hover + label,
#body-login #remember_login:focus + label,
#body-login #remember_login:checked + label {
  opacity: 1;
  color: #FCFCFC; }

/* Files App */
#app-content-files #filestable {
  background-color: #232629;
  padding-bottom: 2em; }

#controls {
  background-color: #31363B; }

#filestable tbody tr {
  background-color: #232629; }
  #filestable tbody tr:hover {
    background-color: rgba(61, 174, 233, 0.25); }
  #filestable tbody tr:focus, #filestable tbody tr:active {
    background-color: #3daee9; }
  #filestable tbody tr.highlighted, #filestable tbody tr.highlighted .name:focus, #filestable tbody tr.selected, #filestable tbody tr.searchresult {
    background-color: #3daee9;
    color: #FCFCFC; }
#filestable tbody .name:focus {
  background-color: transparent; }

.summary {
  color: #BDC3C7;
  opacity: 1; }

table td.filesize {
  color: #BDC3C7 !important; }

span.extension {
  color: #BDC3C7; }

#app-sidebar {
  background-color: #31363B;
  border: none; }
  #app-sidebar .file-details {
    color: #EFF0F1; }

.tabHeaders .tabHeader, .tabHeaders .tabHeader a {
  color: #EFF0F1; }

.tabHeaders .tabHeader.selected a,
.tabHeaders .tabHeader:hover a {
  color: #FCFCFC;
  border-bottom: 1px solid #3DAEE9; }

/* News App */
#explore .category {
  background-color: #3daee9; }
#explore .grid-item {
  border-color: #706F6E; }
#explore .explore-footer a {
  color: #2980B9; }

/*# sourceMappingURL=styles.css.map */
