/* 
 * 
 * All the colours for the Nextcloud Breeze Dark Theme.
 *
*/
/* Default Colors */
/* Buttons*/
/* Input */
body {
  color: #EFF0F1;
  background-color: #31363B; }

#body-user #header, #body-settings #header, #body-public #header {
  background-color: #31363B; }

a {
  color: #2980B9; }

em {
  opacity: 0.75; }

/* Login Screen Specific */
#body-login {
  background: none;
  background-color: #31363B; }

#body-login form input[type="checkbox"] + label {
  color: #BDC3C7; }

#body-login #remember_login:hover + label,
#body-login #remember_login:focus + label,
#body-login #remember_login:checked + label {
  opacity: 1;
  color: #FCFCFC; }

/* use logos from theme */
#header .logo {
  background-image: url("../img/logo.svg");
  width: 250px;
  height: 121px; }
#header .logo-icon {
  background-image: url("../img/logo-icon.svg");
  width: 62px;
  height: 34px; }

/* Input Fields */
input[type="text"], input[type="password"], input[type="search"],
input[type="number"], input[type="email"], input[type="tel"],
input[type="url"], input[type="time"], textarea {
  background-color: #232629;
  color: #BDC3C7;
  border: 1px solid #706F6E; }
  input[type="text"]:hover, input[type="text"]:focus, input[type="password"]:hover, input[type="password"]:focus, input[type="search"]:hover, input[type="search"]:focus,
  input[type="number"]:hover,
  input[type="number"]:focus, input[type="email"]:hover, input[type="email"]:focus, input[type="tel"]:hover, input[type="tel"]:focus,
  input[type="url"]:hover,
  input[type="url"]:focus, input[type="time"]:hover, input[type="time"]:focus, textarea:hover, textarea:focus {
    color: #FCFCFC;
    border-color: #3DAEE9; }

/* Buttons */
input[type="submit"], input[type="button"],
button, .button, select {
  background-color: #31363B;
  border: 1px solid #706F6E;
  color: #EFF0F1; }
  input[type="submit"]:hover, input[type="button"]:hover,
  button:hover, .button:hover, select:hover {
    background-color: #31363B;
    color: #EFF0F1;
    border-color: #3DAEE9; }
  input[type="submit"]:focus, input[type="button"]:focus,
  button:focus, .button:focus, select:focus {
    background-color: #3daee9;
    color: #FCFCFC;
    border-color: #3DAEE9; }

.primary, input.primary[type="submit"], input.primary[type="button"],
button.primary, .button.primary {
  border-color: #706F6E;
  background-color: #31363B;
  color: #EFF0F1; }
  .primary:hover, input.primary[type="submit"]:hover, input.primary[type="button"]:hover,
  button.primary:hover, .button.primary:hover {
    background-color: #31363B;
    color: #FCFCFC;
    border-color: #3DAEE9; }
  .primary:focus, input.primary[type="submit"]:focus, input.primary[type="button"]:focus,
  button.primary:focus, .button.primary:focus {
    background-color: #3daee9;
    color: #FCFCFC;
    border-color: #3DAEE9; }

/* App Navigation */
#app-navigation {
  background-color: #31363B;
  border-color: #706F6E; }
  #app-navigation li > a {
    color: #EFF0F1;
    opacity: 1; }
  #app-navigation li:hover > a {
    background-color: rgba(61, 174, 233, 0.25); }
  #app-navigation li:focus > a {
    background-color: #3daee9; }
  #app-navigation .active {
    background-color: #3daee9; }
  #app-navigation .active a {
    color: #FCFCFC;
    font-weight: 600; }

.nav-trashbin {
  background-color: #31363B;
  border-color: #706F6E; }

#app-settings-content, #app-settings-header {
  border-color: #706F6E; }

#app-settings-content {
  background-color: #31363B; }

.settings-button {
  background-color: #31363B; }
  .settings-button:hover {
    background-color: rgba(61, 174, 233, 0.25); }
  .settings-button:focus, .settings-button:active {
    background-color: #3daee9;
    color: #FCFCFC; }

/* Files App */
#controls {
  background-color: #31363B; }

table thead th {
  background-color: #31363B; }

tbody a {
  color: #EFF0F1; }

#filestable tbody tr {
  background-color: #31363B; }
  #filestable tbody tr:hover {
    background-color: rgba(61, 174, 233, 0.25); }
  #filestable tbody tr.highlighted {
    background-color: #3daee9;
    color: #FCFCFC; }

.summary {
  color: #BDC3C7;
  opacity: 1; }

table td.filesize {
  color: #BDC3C7 !important; }

td.date > span {
  color: #BDC3C7 !important; }

span.extension {
  color: #BDC3C7; }

#app-sidebar {
  background-color: #31363B;
  border: none; }
  #app-sidebar .file-details {
    color: #EFF0F1; }

.tabHeaders .tabHeader, .tabHeaders .tabHeader a {
  color: #EFF0F1; }

.tabHeaders .tabHeader.selected a,
.tabHeaders .tabHeader:hover a {
  color: #FCFCFC;
  border-bottom: 1px solid #3DAEE9; }

/*# sourceMappingURL=styles.css.map */
