 
@import 'colours';

body {
	color: $foreground-normal;
	background-color: $background-normal;
}

#body-user #header, #body-settings #header, #body-public #header {
	background-color: $background-normal;
}

a {
	color: $foreground-link;
}

em {
	opacity: 0.75;
}

/* Login Screen Specific */

#body-login {
	background: none;
	background-color: $background-normal;
}

#body-login form input[type="checkbox"] + label {
	color: $foreground-inactive	;
}

#body-login #remember_login:hover+label,
#body-login #remember_login:focus+label,
#body-login #remember_login:checked+label {
	opacity: 1;
	color: $foreground-active;
}

/* use logos from theme */
#header {
	.logo {
	background-image: url('../img/logo.svg');
	width: 250px;
	height: 121px;
	}
	
	.logo-icon {
	background-image: url('../img/logo-icon.svg');
	width: 62px;
	height: 34px;
	}
}

/* Input Fields */

input[type="text"], input[type="password"], input[type="search"], 
input[type="number"], input[type="email"], input[type="tel"], 
input[type="url"], input[type="time"], textarea {
	background-color: $input-background-normal;
	color: $input-foreground-inactive;
	border: 1px solid $input-decoration-normal;

	&:hover, &:focus {
		color: $input-foreground-active;
		border-color: $input-decoration-active;
	}
}

/* Buttons */

input[type="submit"], input[type="button"], 
button, .button, select {
	background-color: $button-background-normal;
	border: 1px solid $button-decoration-normal;
	color: $button-foreground-normal;

	&:hover {
		background-color: $button-background-normal;
		color: $button-foreground-normal;
		border-color: $button-decoration-active;
	}

	&:focus {
		background-color: $button-background-active;
		color: $button-foreground-active;
		border-color: $button-decoration-active;
	}
}

.primary, input.primary[type="submit"], input.primary[type="button"], 
button.primary, .button.primary {
	border-color: $button-decoration-normal;
	background-color: $button-background-normal;
	color: $button-foreground-normal;

	&:hover {
		background-color: $button-background-normal;
		color: $button-foreground-active;
		border-color: $button-decoration-active;
	}

	&:focus {
		background-color: $button-background-active;
		color: $button-foreground-active;
		border-color: $button-decoration-active;
	}
}

/* App Navigation */

#app-navigation {
	background-color: $background-normal;
	border-color: $decoration-normal;

	li > a {
		color: $foreground-normal;
		opacity: 1;
	}

	li:hover > a {
		background-color: $background-active-hover;
	}

	li:focus > a {
		background-color: $background-active;
	}

	.active {
		background-color: $background-active;
	}

	.active a {
		color: $foreground-active;
	}
}

.nav-trashbin {
	background-color: $background-normal;
	border-color: $decoration-normal;
}

// App Settings

#app-settings-content, #app-settings-header {
	border-color: $decoration-normal;
}

#app-settings-content {
	background-color: $background-normal;
}

.settings-button {
	background-color: $background-normal;

	&:hover {
		background-color: $background-active-hover;
	}

	&:focus, &:active {
		background-color: $background-active;
		color: $foreground-active;
	}
}

/* Files App */

#controls {
	background-color: $background-normal;
}

table thead th {
	background-color: $background-normal;
}

#filestable tbody tr {
	background-color: $background-normal;

	&:hover {
		background-color: $background-normal;
	}
}

tbody a {
	color: $foreground-normal;
}