/* Icon variables */

:root {
    --icon-star-dark-000: #{$icon-star} !important;
    --icon-star-000: #{$icon-star} !important;
    @include icon-color-theming('home', 'places', $icon-normal, '000', 1, true);
    --icon-bundles-000: #{$icon-bundles} !important;
    --icon-customization-000: #{$icon-customization} !important;
    --icon-games-000: #{$icon-games} !important;
    --icon-integration-000: #{$icon-integration} !important;
    --icon-monitoring-000: #{$icon-monitoring} !important;
    --icon-multimedia-000: #{$icon-picture} !important;
    --icon-office-000: #{$icon-text} !important;
    --icon-organization-000: #{$icon-organization} !important;
    --icon-search-000: #{$icon-search} !important;
    --icon-search-fffffe: #{$icon-search} !important;
    --icon-password-000: #{$icon-password} !important;
    --icon-social-000: #{$icon-social} !important;
    --icon-settings-000: #{$icon-settings} !important;
    --icon-settings-dark-000: #{$icon-settings} !important;
    --icon-rename-000: #{$icon-rename} !important;
    --icon-delete-000: #{$icon-delete} !important;
    --icon-delete-e9322d: #{$icon-delete-color} !important;
    --icon-public-000: #{$icon-public} !important;
    --icon-public-fff: #{$icon-public} !important;
    --icon-upload-000: #{$icon-upload} !important;
    --icon-add-000: #{$icon-add} !important;
    --icon-share-000: #{$icon-share} !important;
    --icon-external-000: #{$icon-external} !important;
    --icon-tag-000: #{$icon-tag} !important;
    --icon-download-000: #{$icon-download} !important;
    --icon-details-000: #{$icon-details} !important;
    --icon-info-000: #{$icon-details} !important;
    --icon-clippy-000: #{$icon-clippy} !important;
    --icon-comment-000: #{$icon-comment} !important;
    --icon-quota-000: #{$icon-quota} !important;
    --icon-triangle-n-000: #{$icon-triangle-n} !important;
    --icon-triangle-s-000: #{$icon-triangle-s} !important;
    --icon-more-000: #{$icon-more} !important;
    --icon-toggle-filelist-000: #{$icon-list} !important;
    --icon-toggle-pictures-000: #{$icon-grid} !important;
    --icon-text-000: #{$icon-text} !important;
    --icon-folder-000: #{$icon-folder} !important;
    --icon-history-000: #{$icon-history} !important;
    --icon-confirm-000: #{$icon-confirm} !important;
    --icon-edit-000: #{$icon-text} !important;
    --icon-close-000: #{$icon-close} !important;
    --icon-fullscreen-000: #{$icon-fullscreen} !important;
    --icon-contacts-000: #{$icon-contacts} !important;
    --icon-user-000: #{$icon-user} !important;
    --icon-link-000: #{$icon-link} !important;
    --icon-timezone-000: #{$icon-timezone} !important;
    --icon-toggle-000: #{$icon-toggle} !important;
    --icon-desktop-000: #{$icon-desktop} !important;
    --icon-phone-000: #{$icon-phone} !important;
    --icon-tablet-000: #{$icon-tablet} !important;
    --icon-error-000: #{$icon-error} !important;
    --icon-error-fff: #{$icon-error} !important;
    --icon-checkmark-000: #{$icon-checkmark} !important;
    --icon-checkmark-fff: #{$icon-checkmark} !important;
    --icon-user-admin-000: #{$icon-user-admin} !important;
    --icon-calendar-000: #{$icon-calendar} !important;
    --icon-arrow-right-000: #{$icon-arrow-right} !important;
    --icon-arrow-left-000: #{$icon-arrow-left} !important;
    --icon-mail-000: #{$icon-mail} !important;
    --icon-address-000: #{$icon-address} !important;
    --icon-group-000: #{$icon-contacts} !important;
    --icon-menu-000: #{$icon-menu} !important;
    --icon-help-000: #{$icon-help} !important;
    --icon-picture-000: #{$icon-picture} !important;
    --icon-projects-000: #{$icon-projects} !important;
    --icon-sound-000: #{$icon-sound} !important;
    --icon-sound-off-000: #{$icon-sound-off} !important;
    --icon-audio-000: #{$icon-audio} !important;
    --icon-audio-off-000: #{$icon-audio-off} !important;
    --icon-video-000: #{$icon-video} !important;
    --icon-video-off-000: #{$icon-video-off} !important;
    --icon-screen-000: #{$icon-screen} !important;
    --icon-screen-off-000: #{$icon-screen-off} !important;
    --icon-rss-000: #{$icon-rss} !important;
    --icon-pinned-000: #{$icon-pinned} !important;
    --icon-unpinned-000: #{$icon-unpinned} !important;
    --icon-caret-000: #{$icon-triangle-s} !important;
    --icon-nonfulltext-000: #{$icon-nonfulltext} !important;
    --icon-fulltext-000: #{$icon-fulltext} !important;
    --icon-disabled-user-000: #{$icon-disabled-user} !important;
    --icon-disabled-users-000: #{$icon-disabled-users} !important;

    --icon-files-000: #{$icon-files} !important;
    --icon-files-folder-000: #{$icon-files} !important;
    --icon-files-recent-000: #{$icon-recent} !important;
    --icon-files-external-000: #{$icon-external} !important;
    --icon-files-share-000: #{$icon-share} !important;
    --icon-files-unshare-000: #{$icon-unshare} !important;
    --icon-files-public-000: #{$icon-public} !important;
    --icon-files-delete-000: #{$icon-delete} !important;

    --icon-privacy-control-000: #{$icon-share} !important;
    --icon-privacy-knowledge-000: #{$icon-toggle} !important;
    --icon-privacy-freedom-000: #{$icon-freedom} !important;

    --icon-activity-activity-dark-000: #{$icon-activity} !important;

    --icon-notifications-notifications-dark-000: #{$icon-notification} !important;

    --icon-federatedfilesharing-social-diaspora-000: #{$icon-diaspora} !important;
    --icon-federatedfilesharing-social-twitter-000: #{$icon-twitter} !important;
    --icon-federatedfilesharing-social-facebook-000: #{$icon-facebook} !important;

    --icon-notes-folder-000: #{$icon-files} !important;
    --icon-notes-recent-000: #{$icon-recent} !important;

    --icon-announcementcenter-notifications-off-000: #{$icon-notification-off} !important;

    --icon-contacts-phone-000: #{$icon-contacts-phone} !important;
    --icon-contacts-address-book-000: #{$icon-contacts-address-book} !important;
    --icon-contacts-social-000: #{$icon-heart} !important;

    --icon-deck-deck-000: #{$icon-deck} !important;
    --icon-deck-archive-000: #{$icon-archive} !important;

    --icon-spreed-app-dark-000: #{$icon-talk} !important;
    --icon-spreed-menu-people-000: #{$icon-menu-people} !important;

    --icon-text-undo-000: #{$icon-undo} !important;
    --icon-text-redo-000: #{$icon-redo} !important;
    --icon-text-bold-000: #{$icon-bold} !important;
    --icon-text-italic-000: #{$icon-italic} !important;
    --icon-text-strike-000: #{$icon-strike} !important;
    --icon-text-paragraph-000: #{$icon-paragraph} !important;
    --icon-text-ul-000: #{$icon-ul} !important;
    --icon-text-ol-000: #{$icon-ol} !important;
    --icon-text-quote-000: #{$icon-quote} !important;
    --icon-text-code-000: #{$icon-code} !important;
    --icon-text-image-000: #{$icon-text-image} !important;
    --icon-text-link-000: #{$icon-public} !important;
    --icon-text-h1-000: #{$icon-h1} !important;
    --icon-text-h2-000: #{$icon-h2} !important;
    --icon-text-h3-000: #{$icon-h3} !important;
    --icon-text-h4-000: #{$icon-h4} !important;
    --icon-text-h5-000: #{$icon-h5} !important;
    --icon-text-h6-000: #{$icon-h6} !important;

    --icon-mail-inbox-000: #{$icon-home} !important;
    --icon-mail-star-000: #{$icon-star} !important;
    --icon-mail-drafts-000: #{$icon-rename} !important;
    --icon-mail-sent-000: #{$icon-checkmark} !important;
    --icon-mail-trash-000: #{$icon-delete} !important;
    --icon-mail-junk-000: #{$icon-error} !important;
    --icon-mail-archive-000: #{$icon-archive} !important;

    --icon-circles-000: #{$icon-circles} !important;
}
