/* Icon variables */
// Color variables for icons
$icon-normal: #f2f2f2;
$icon-error: #da4453;
$icon-success: #27ae60;

:root {
    @include icon-color-theming('home', 'places', $icon-normal, '000', 1, true);
    @include icon-color-theming('home', 'places', $icon-normal, 'f2f2f2', 1, true);
    @include icon-color-theming('contacts', 'places', $icon-normal, '000', 1, true);
    @include icon-color-theming('link', 'places', $icon-normal, '000', 1, true);
    @include icon-color-theming('calendar', 'places', $icon-normal, '000', 1, true);
    @include icon-color-theming('picture', 'places', $icon-normal, '000', 1, true);
    @include icon-color-theming('files', 'places', $icon-normal, '000', 1, true);

    @include icon-color-theming('text', 'filetypes', $icon-normal, '000', 1, true);

    @include icon-color-theming('desktop', 'clients', $icon-normal, '000', 1, true);
    @include icon-color-theming('phone', 'clients', $icon-normal, '000', 1, true);
    @include icon-color-theming('tablet', 'clients', $icon-normal, '000', 1, true);  

    @include icon-color-theming('bundles', 'categories', $icon-normal, '000', 1, true);
    @include icon-color-theming('customization', 'categories', $icon-normal, '000', 1, true);
    @include icon-color-theming('games', 'categories', $icon-normal, '000', 1, true);
    @include icon-color-theming('integration', 'categories', $icon-normal, '000', 1, true);
    @include icon-color-theming('monitoring', 'categories', $icon-normal, '000', 1, true);
    @include icon-color-theming('multimedia', 'categories', $icon-normal, '000', 1, true);
    @include icon-color-theming('office', 'categories', $icon-normal, '000', 1, true);
    @include icon-color-theming('organization', 'categories', $icon-normal, '000', 1, true);
    @include icon-color-theming('social', 'categories', $icon-normal, '000', 1, true);
    @include icon-color-theming('workflow', 'categories', $icon-normal, '000', 1, true);

    @include icon-color-theming('star', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('star-dark', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('search', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('search', 'actions', $icon-normal, 'fffffe', 1, true);
    @include icon-color-theming('password', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('settings', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('settings-dark', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('rename', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('delete', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('delete', 'actions', $icon-normal, 'f2f2f2', 1, true);
    @include icon-color-theming('delete', 'actions', $icon-error, 'e9322d', 1, true);
    @include icon-color-theming('public', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('public', 'actions', $icon-normal, 'fff', 1, true);
    @include icon-color-theming('upload', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('add', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('share', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('external', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('tag', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('download', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('details', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('info', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('clippy', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('comment', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('quota', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('triangle-n', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('triangle-s', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('more', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('toggle-filelist', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('toggle-pictures', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('history', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('edit', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('close', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('fullscreen', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('user', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('timezone', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('toggle', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('error', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('error', 'actions', $icon-normal, 'fff', 1, true);
    @include icon-color-theming('checkmark', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('checkmark', 'actions', $icon-normal, 'fff', 1, true);
    @include icon-color-theming('user-admin', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('arrow-right', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('arrow-left', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('mail', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('address', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('group', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('menu', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('projects', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('sound', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('sound-off', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('audio', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('audio-off', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('video', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('video-off', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('screen', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('screen-off', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('caret', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('disabled-user', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('disabled-users', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('confirm', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('confirm-fade', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('play', 'actions', $icon-normal, '000', 1, true);
    @include icon-color-theming('pause', 'actions', $icon-normal, '000', 1, true);

    @include icon-color-theming('folder', 'files', $icon-normal, '000', 1, false);
    @include icon-color-theming('folder', 'files', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('recent', 'files', $icon-normal, '000', 1, false);
    @include icon-color-theming('recent', 'files', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('external', 'files', $icon-normal, '000', 1, false);
    @include icon-color-theming('external', 'files', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('share', 'files', $icon-normal, '000', 1, false);
    @include icon-color-theming('share', 'files', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('unshare', 'files', $icon-normal, '000', 1, false);
    @include icon-color-theming('unshare', 'files', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('public', 'files', $icon-normal, '000', 1, false);
    @include icon-color-theming('public', 'files', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('delete', 'files', $icon-normal, '000', 1, false);
    @include icon-color-theming('delete', 'files', $icon-normal, 'f2f2f2', 1, false);

    @include icon-color-theming('control', 'privacy', $icon-normal, '000', 1, false);
    @include icon-color-theming('knowledge', 'privacy', $icon-normal, '000', 1, false);
    @include icon-color-theming('freedom', 'privacy', $icon-normal, '000', 1, false);

    @include icon-color-theming('activity', 'activity', $icon-normal, '000', 1, false);
    @include icon-color-theming('activity-dark', 'activity', $icon-normal, '000', 1, false);

    @include icon-color-theming('notifications', 'notifications', $icon-normal, '000', 1, false);
    @include icon-color-theming('notifications-dark', 'notifications', $icon-normal, '000', 1, false);

    @include icon-color-theming('undo', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('redo', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('bold', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('italic', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('strike', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('paragraph', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('ul', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('ol', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('quote', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('h1', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('h2', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('h3', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('h4', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('h5', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('h6', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('code', 'text', $icon-normal, '000', 1, false);
    @include icon-color-theming('image', 'text', $icon-normal, '000', 1, false);

    @include icon-color-theming('rss', 'news', $icon-normal, '000', 1, false);

    @include icon-color-theming('folder', 'notes', $icon-normal, '000', 1, false);
    @include icon-color-theming('recent', 'notes', $icon-normal, '000', 1, false);
    @include icon-color-theming('folder-empty', 'notes', $icon-normal, '000', 1, false);

    @include icon-color-theming('phone', 'contacts', $icon-normal, '000', 1, false);
    @include icon-color-theming('address-book', 'contacts', $icon-normal, '000', 1, false);
    @include icon-color-theming('social', 'contacts', $icon-normal, '000', 1, false);
    @include icon-color-theming('qrcode', 'contacts', $icon-normal, '000', 1, false);
    @include icon-color-theming('language', 'contacts', $icon-normal, '000', 1, false);

    @include icon-color-theming('deck', 'deck', $icon-normal, '000', 1, false);
    @include icon-color-theming('archive', 'deck', $icon-normal, '000', 1, false);
    @include icon-color-theming('toggle-view-collapse', 'deck', $icon-normal, '000', 1, false);
    @include icon-color-theming('toggle-view-expand', 'deck', $icon-normal, '000', 1, false);

    @include icon-color-theming('app-dark', 'spreed', $icon-normal, '000', 1, false);
    @include icon-color-theming('menu-people', 'spreed', $icon-normal, '000', 1, false);
    @include icon-color-theming('reply', 'spreed', $icon-normal, '000', 1, false);
    @include icon-color-theming('lobby', 'spreed', $icon-normal, '000', 1, false);

    @include icon-color-theming('star', 'mail', $icon-normal, '000', 1, false);
    @include icon-color-theming('star', 'mail', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('drafts', 'mail', $icon-normal, '000', 1, false);
    @include icon-color-theming('drafts', 'mail', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('sent', 'mail', $icon-normal, '000', 1, false);
    @include icon-color-theming('sent', 'mail', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('junk', 'mail', $icon-normal, '000', 1, false);
    @include icon-color-theming('junk', 'mail', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('archive', 'mail', $icon-normal, '000', 1, false);
    @include icon-color-theming('archive', 'mail', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('forward', 'mail', $icon-normal, '000', 1, false);

    @include icon-color-theming('notifications-off', 'announcementcenter', $icon-normal, '000', 1, false);

    @include icon-color-theming('social-diaspora', 'federatedfilesharing', $icon-normal, '000', 1, false);
    @include icon-color-theming('social-twitter', 'federatedfilesharing', $icon-normal, '000', 1, false);
    @include icon-color-theming('social-facebook', 'federatedfilesharing', $icon-normal, '000', 1, false);

    @include icon-color-theming('circles', 'circles', $icon-normal, '000', 1, false);

    @include icon-color-theming('previous', 'audioplayer', $icon-normal, '000', 1, false);
    @include icon-color-theming('play', 'audioplayer', $icon-normal, '000', 1, false);
    @include icon-color-theming('pause', 'audioplayer', $icon-normal, '000', 1, false);
    @include icon-color-theming('next', 'audioplayer', $icon-normal, '000', 1, false);
    @include icon-color-theming('volume', 'audioplayer', $icon-normal, '000', 1, false);
    @include icon-color-theming('repeat', 'audioplayer', $icon-normal, '000', 1, false);
    @include icon-color-theming('shuffle', 'audioplayer', $icon-normal, '000', 1, false);

    @include icon-color-theming('leftarrow', 'calendar', $icon-normal, '000', 1, false);
    @include icon-color-theming('leftarrow', 'calendar', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('rightarrow', 'calendar', $icon-normal, '000', 1, false);
    @include icon-color-theming('rightarrow', 'calendar', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('view-module', 'calendar', $icon-normal, '000', 1, false);
    @include icon-color-theming('view-module', 'calendar', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('view-day', 'calendar', $icon-normal, '000', 1, false);
    @include icon-color-theming('view-day', 'calendar', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('view-week', 'calendar', $icon-normal, '000', 1, false);
    @include icon-color-theming('view-week', 'calendar', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('embed', 'calendar', $icon-normal, '000', 1, false);
    @include icon-color-theming('new-calendar', 'calendar', $icon-normal, '000', 1, false);
    @include icon-color-theming('new-calendar', 'calendar', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('new-calendar-with-task-list', 'calendar', $icon-normal, '000', 1, false);
    @include icon-color-theming('new-calendar-with-task-list', 'calendar', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('eye', 'calendar', $icon-normal, '000', 1, false);
    @include icon-color-theming('eye', 'calendar', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('briefcase', 'calendar', $icon-normal, '000', 1, false);
    @include icon-color-theming('briefcase', 'calendar', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('reminder', 'calendar', $icon-normal, '000', 1, false);
    @include icon-color-theming('reminder', 'calendar', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('repeat', 'calendar', $icon-normal, '000', 1, false);
    @include icon-color-theming('repeat', 'calendar', $icon-normal, 'f2f2f2', 1, false);
    @include icon-color-theming('timezone', 'calendar', $icon-normal, '000', 1, false);
    @include icon-color-theming('timezone', 'calendar', $icon-normal, 'f2f2f2', 1, false);

    @include icon-color-theming('yourphotos', 'photos', $icon-normal, '000', 1, false);

    // Manual icons

    // Mail
    --icon-mail-inbox-000: var(--icon-home-f2f2f2);
    --icon-mail-trash-000: var(--icon-delete-f2f2f2);
    --icon-mail-inbox-f2f2f2: var(--icon-home-f2f2f2);
    --icon-mail-trash-f2f2f2: var(--icon-delete-f2f2f2);

    // News
    --icon-news-unpinned-000: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KIDxnIGZpbGw9IiNmMmYyZjIiPgogIDxyZWN0IHg9IjIuODI1MSIgeT0iLjQxMjU1IiB3aWR0aD0iMTAuMzUiIGhlaWdodD0iMS4xODgxIiByeT0iLjE4ODkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjZjJmMmYyIiBzdHJva2Utd2lkdGg9Ii42ODA4NHB4Ii8+CiAgPHBhdGggZD0ibTUuMTI4NyAxLjkxMzNoNS43NDI2bC0wLjE4ODkgNi44MDA1aC01LjM0NTl6Ii8+CiAgPHBhdGggZD0ibTMuMTM1OCA4LjQzMDVoOS43Mjg1YzEuMjI3OSAwLjQ1MzM2IDEuMzAzNCAxLjQzNTcgMS4zMDM0IDEuNDM1N2gtMTIuMzM1czAuMDM3NzgtMC45NjM0IDEuMzAzNC0xLjQzNTd6Ii8+CiAgPHJlY3QgeD0iNy41MTgzIiB5PSI4LjYxMDUiIHdpZHRoPSIuOTYzNCIgaGVpZ2h0PSI3LjMxNzQiLz4KIDwvZz4KPC9zdmc+Cg==);
    --icon-news-pinned-000: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KIDxnIGZpbGw9IiNmMmYyZjIiPgogIDxyZWN0IHg9IjIuODI1MSIgeT0iLjQxMjU1IiB3aWR0aD0iMTAuMzUiIGhlaWdodD0iMS4xODgxIiByeT0iLjE4ODkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlPSIjZjJmMmYyIiBzdHJva2Utd2lkdGg9Ii42ODA4NHB4Ii8+CiAgPHBhdGggZD0ibTUuMTI4NyAxLjkxMzNoNS43NDI2bC0wLjE4ODkgNi44MDA1aC01LjM0NTl6Ii8+CiAgPHBhdGggZD0ibTMuMTM1OCA4LjQzMDVoOS43Mjg1YzEuMjI3OSAwLjQ1MzM2IDEuMzAzNCAxLjQzNTcgMS4zMDM0IDEuNDM1N2gtMTIuMzM1czAuMDM3NzgtMC45NjM0IDEuMzAzNC0xLjQzNTd6Ii8+CiAgPHJlY3QgeD0iNy41MTgzIiB5PSI5Ljc4NiIgd2lkdGg9Ii45NjM0IiBoZWlnaHQ9IjQuOTY2NSIvPgogIDxyZWN0IHg9IjEuMTc0NCIgeT0iMTIuMTgiIHdpZHRoPSIxMy42NTEiIGhlaWdodD0iMS4zODkyIi8+CiA8L2c+Cjwvc3ZnPgo=);
    --icon-news-nonfulltext-000: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KIDxwYXRoIGQ9Im0zIDJjLTAuNTU0IDAtMSAwLjQ0Ni0xIDF2MmMwIDAuNTU0IDAuNDQ2IDEgMSAxaDI2YzAuNTU0IDAgMS0wLjQ0NiAxLTF2LTJjMC0wLjU1NC0wLjQ0Ni0xLTEtMWgtMjZ6IiBmaWxsPSIjZjJmMmYyIi8+CiA8cGF0aCBkPSJtMyAxMGMtMC41NTQgMC0xIDAuNDQ2LTEgMXYyYzAgMC41NTQgMC40NDYgMSAxIDFoMThjMC41NTQgMCAxLTAuNDQ2IDEtMXYtMmMwLTAuNTU0LTAuNDQ2LTEtMS0xaC0xOHoiIGZpbGw9IiNmMmYyZjIiLz4KPC9zdmc+Cg==);
    --icon-news-fulltext-000: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzIiIGhlaWdodD0iMzIiIHZlcnNpb249IjEuMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KIDxwYXRoIGQ9Im0zIDJjLTAuNTU0IDAtMSAwLjQ0Ni0xIDF2MmMwIDAuNTU0IDAuNDQ2IDEgMSAxaDI2YzAuNTU0IDAgMS0wLjQ0NiAxLTF2LTJjMC0wLjU1NC0wLjQ0Ni0xLTEtMWgtMjZ6bTAgOGMtMC41NTQgMC0xIDAuNDQ2LTEgMXYyYzAgMC41NTQgMC40NDYgMSAxIDFoMThjMC41NTQgMCAxLTAuNDQ2IDEtMXYtMmMwLTAuNTU0LTAuNDQ2LTEtMS0xaC0xOHptMCA4Yy0wLjU1NCAwLTEgMC40NDYtMSAxdjJjMCAwLjU1NCAwLjQ0NiAxIDEgMWgyNGMwLjU1NCAwIDEtMC40NDYgMS0xdi0yYzAtMC41NTQtMC40NDYtMS0xLTFoLTI0em0wIDhjLTAuNTU0IDAtMSAwLjQ0Ni0xIDF2MmMwIDAuNTU0IDAuNDQ2IDEgMSAxaDEyYzAuNTU0IDAgMS0wLjQ0NiAxLTF2LTJjMC0wLjU1NC0wLjQ0Ni0xLTEtMWgtMTJ6IiBmaWxsPSIjZjJmMmYyIi8+Cjwvc3ZnPgo=);
    --icon-news-updatemodedefault-000: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTciIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KIDxnIHRyYW5zZm9ybT0idHJhbnNsYXRlKDkzLjQyMiAtNDY2LjY2KSIgZmlsbD0iI2YyZjJmMiI+CiAgPHBhdGggZD0ibS04My44OTcgNDY4Ljc0Yy0zLjk1MDIgMC02LjUzNDkgMy40NDY5LTYuMzY0MyA2LjcyMTNoLTIuMTYwOGwzLjkwNCAzLjkxNzQgNC4wODEzLTMuODcyMmgtMi4xNDg5Yy0wLjIzNzA1LTEuNzAwOSAxLjE2MzUtMy4xMTQ1IDIuNjg4Ny0zLjA5MjEgMS41OTY1IDAuMDIzNSAyLjgwMDYgMS4yMjkyIDIuODAwNiAyLjczMzQgMC4wODk2MSAxLjU5MzgtMS42Mjk0IDMuNDI3OS0zLjk2NTQgMi41MzE3LTguM2UtNSAxLjIyODEgMC4wMDI3IDIuNTQzOSAwIDMuNzY0IDQuMTg5NCAwLjgyODk2IDcuNjM5OC0yLjUwOTUgNy42Mzk4LTYuMjUwOSAwLTMuNTYyMS0yLjkxODgtNi40NTI1LTYuNDc0OS02LjQ1MjV6IiBmaWxsPSIjZjJmMmYyIi8+CiA8L2c+Cjwvc3ZnPgo=);
    --icon-news-updatemodeunread-000: var(--icon-news-updatemodedefault-000);
}
