.activitymessage {
	color: $foreground-normal;
	opacity: 0.6;
}

.box .activitytime {
	color: $foreground-inactive;
}

#no_more_activities {
	color: $foreground-inactive;
	opacity: 0.5;
}

.activity-icon {
	opacity: 0.7;
}