/*.tabHeaders .tabHeader, .tabHeaders .tabHeader a {
	color: $foreground-normal;
}

.tabHeaders .tabHeader.selected a, 
.tabHeaders .tabHeader:hover a {
	color: $foreground-active;
	border-bottom: 1px solid $decoration-active;
}*/