#app-navigation-toggle_alternative {
	background-color: $background-normal;
}

// Progress Bar

.sm2-bar-ui { 
    &, .bd a {
	    color: $foreground-normal;
    }

    .sm2-inline-gradient {
        background-color: $background-normal;
    }

    .bd .sm2-button-element:hover {
	    background-color: $background-normal;
    }
}

.sm2-progress {

    .sm2-progress-bar {
        background-color: $background-active;
        background-image: none;
    }

    .sm2-progress-track {
        background-color: $background-dark;
        background-image: none;
    }

    .sm2-progress-ball {
        background-color: rgba(242, 242, 242, 1);
    }
}

// Sidebar

#myCategory li {
    
    &.activeIndiPlaylist:hover {
        font-weight: bold;
    }

    &:hover {
        background-color: $background-active-hover;
        font-weight: normal;
    }
}
.sm2-playlist-cover {
	background-color: $background-active-hover !important;
}

// Content

.albumdescr {

    span.albumname {
	    color: $foreground-normal;
    }

    span.artist {
        color: $foreground-inactive;
    }
}

.songcontainer {
	background-color: $background-dark !important;
	color: $foreground-normal !important;
	box-shadow: none;

    .songcontainer-cover {
	    box-shadow: none;
    }

    span.title, span.number, span.time {
        color: $foreground-normal !important;
    }   
}

#individual-playlist-header {

    span {
        color: $foreground-normal;
    }

    .header-indi {
	    border-bottom-color: $decoration-normal;
	    color: $foreground-normal;
    }
}

#individual-playlist {
    
    li {
	    color: $foreground-normal;

        &.dragable:hover {
            background-color: $background-active-hover;
        }

        span.title, span.interpret, span.album-indi, span.time {
            color: $foreground-normal !important;
        }
    }

    .ioc {
        color: $foreground-normal !important;
    }
}

#phototools {
	background-color: $background-normal;
    border: 1px solid $decoration-normal;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;

    img {
        filter: invert(95%);
    }
}

// Settings

#audio-settings li.audio-settings-item {
	opacity: 1;
}