.app-audioplayer #app-navigation {

    #albenoverview li {
        opacity: 1;
    }

    #myCategory li {
        opacity: 1;

        &:hover {
            background-color: $background-active-hover;
        }

        &.active span {
            color: $foreground-active;
        }

        i.ioc {
            color: $foreground-normal;

            &.ioc-sort:hover {
                color: $foreground-positive;
            }

            &.ioc-delete:hover {
                color: $foreground-negative;
            }
        }

        &.activeHover {
            border-color: $decoration-active;
        }

        &.dropHover {
            background-color: $background-active-hover;
        }
    }

    #app-settings #audio-settings li.audio-settings-item {
        opacity: 1;
    }
}

.app-audioplayer #app-content {

    #loading {
        color: $icon-normal;
    }

    .sm2-bar-ui {

        &, .bd a {
            color: $foreground-normal;
        }

        #app-navigation-toggle_alternative {
            background-color: $background-normal;
        }

        .sm2-inline-gradient {
            background-color: $background-normal;
        }

        .bd .sm2-button-element:hover {
            background-color: $background-normal;
        }

        .sm2-progress {

            .sm2-progress-track {
                background-color: $background-dark;
            }
    
            .sm2-progress-bar {
                background-color: $background-active;
            }
        
            .sm2-progress-ball {
                background-color: rgba(242, 242, 242, 1);
            }
        }
    }

    #playlist-container {

        .coverrow .album {

            .albumcover {
                box-shadow: none;
            }

            .albumdescr {

                .albumname {
                    color: $foreground-normal;
                }

                .artist {
                    color: $foreground-inactive;
                }
            }
        }

        .songcontainer {
            background-color: $background-dark;
            box-shadow: none;
            color: $foreground-normal;

            .open-arrow::before {
                border-bottom-color: $background-dark;
            }

            .songcontainer-cover {
                box-shadow: none;
            }

            a.close {
                color: $icon-normal;
            }
        }

        #individual-playlist-header {

            .header-indi {
                border-bottom-color: $decoration-normal;
                color: $foreground-normal;
            }

            span {
                color: $foreground-normal;
            }
        }

        #individual-playlist {

            & > li {
                color: $foreground-normal;

                &.dragable:hover {
                    background-color: $background-active-hover;
                }

                span {
                    color: $foreground-normal !important;
                }
            }
        }
    }
}

.app-audioplayer #app-sidebar {

    #ID3EditorTabView .icon-info {
        opacity: 1;
    }
}
