.app-calendar #app-content {
	overflow-y: hidden;
	padding-right: 0 !important;
}

#app-navigation .new-entity {
	color: $foreground-normal;

	&:hover {
		background-color: $background-active-hover;
		color: $foreground-normal;
	}
}

#app-navigation .app-navigation-input {
	width: 94%;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
	border-color: $decoration-normal;;
}

#fullcalendar {
	background-color: $background-dark;
	border-top: 1px solid $decoration-normal;

	table thead th {
		background-color: $background-dark;
	}

	table tbody tr td.fc-other-month {
		background-color: $background-normal;
	}

	&.fc-unthemed tr td {
		border-top-color: $decoration-normal;
	}

	&.fc-unthemed .fc-today {
		background-color: $background-active !important;
		color: $foreground-active;
		border-color: $decoration-normal;

		span.fc-day-number {
			font-weight: 600;
		}
	}
}

.fc-basic-view .fc-day-top .fc-week-number {
	background-color: $background-normal;
	color: $foreground-normal;
	border-right: 1px solid $decoration-normal;
	border-bottom: 1px solid $decoration-normal;
}

.fc th, .fc .fc-axis, .fc-day-grid-event .fc-time, .fc-ltr .fc-basic-view .fc-day-number, .fc-ltr .fc-basic-view .fc-week-number, .fc-time-grid-event .fc-time {
	opacity: 1;
	font-size: 85%;
}

.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
	padding-right: 6px;
}

.app-calendar #app-navigation #calendarlistcontainer ul.app-navigation-list li.app-navigation-list-item.active {
	background-color: $background-normal;
	border-right: 1px solid $decoration-normal;
}

#app-settings .settings-fieldset .settings-upload {
	background-color: $background-normal;
	border: 1px solid $decoration-normal;
}

#app-navigation .app-navigation-entry-menu {
	background-color: $background-normal;
	color: $foreground-normal;
	border: 1px solid $decoration-normal;
	-webkit-filter: none;
	-moz-filter: none;
	-ms-filter: none;
	-o-filter: none;
	filter: none;

	&::after {
		border-bottom-color: $decoration-normal;
	}
}

#app-navigation .togglebuttons {
	.button.active {
		background-color: $background-active;
		color: $foreground-active;
		border-color: $decoration-active;
	}

	.button.today:focus {
		background-color: $background-active;
	}
}

#datepicker table tbody tr {
	background-color: $background-normal;
}

.app-calendar #app-navigation .active {
	background-color: inherit;
}

.app-calendar #app-navigation {
	#datepickercontainer #datepicker table td {
		border: none;

		button {
			&:hover {
				border-color: $decoration-normal;
				background-color: $background-active-hover;
			}

			&:active, &:focus {
				background-color: $background-active;
				border-color: $decoration-normal;
			}
		}
	}
}

.modal-open .modal.popover, .modal-open .modal.import {
	background: $background-normal;
	box-shadow: none;
}

.modal-dialog .modal-content #app-sidebar {
	border: none;
}

.advanced .advanced--button-area {
	border-color: $decoration-normal;
}

.advanced--fieldset-attendeelist .advanced--toggler:hover, .advanced--fieldset-reminderlist .advanced--toggler:hover {
	background: $background-active-hover;
}

.ui-widget-content {
	background: $background-normal;
	border: 1px solid $decoration-normal;
}

.ui-datepicker th {
	color: $foreground-normal;
}

.ui-state-default, .ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	border: 1px solid $decoration-normal;
	background: $background-dark;
	font-weight: bold;
	color: $foreground-inactive;
}

.ui-state-hover, .ui-widget-header .ui-state-hover {
	background-color: $background-normal;
	color: $foreground-normal;
}

.ui-widget-content .ui-state-hover {
	background-color: $background-active-hover;
}


.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
	opacity: .5;
	filter: Alpha(Opacity=50);
	font-weight: normal;
}

.ui-datepicker-calendar tbody tr, .ui-timepicker tbody tr {
	&:hover, &:focus, &:active {
		background-color: inherit;
	}
}

.ui-widget-header {
	border: 1px solid $decoration-active;
	background: $background-active;
	color: $foreground-normal;
}

.ui-datepicker-prev, .ui-datepicker-next {
	border: 1px solid $decoration-normal;
	background: $background-normal;
}

.advanced .advanced--input {
	background: $background-dark !important;
}