.app-calendar {
	
	#app-content {
		overflow-y: hidden;
		padding-right: 0 !important;
	}

	#app-navigation {

		.active {
			background-color: inherit;
		}

		.new-entity {
			color: $foreground-normal;

			&:hover {
				background-color: $background-active-hover;
				color: $foreground-normal;
			}
		}

		.app-navigation-entry-menu {
			background-color: $background-normal;
			color: $foreground-normal;
			border: 1px solid $decoration-normal;
			-webkit-filter: none;
			-moz-filter: none;
			-ms-filter: none;
			-o-filter: none;
			filter: none;

			&::after {
				border-bottom-color: $decoration-normal;
			}
		}

		.togglebuttons {

			.button.active {
				color: $foreground-normal;
				box-shadow: none;
			}
		}

		#datepickercontainer {
			box-shadow: none;

			#datepicker table td {
				
				button {
					box-shadow: none;
					border-color: $decoration-normal;

					&:hover {
						background-color: $background-active-hover;
					}
				}
			}
		}
	}
}
 
.fc-unthemed {
	
	th, td, thead, tbody, .fc-divider, .fc-row, .fc-popover {
		border-color: $decoration-normal;
	}
}

#fullcalendar {
	background-color: $background-dark;

	table thead th {
		background-color: $background-dark;
	}

	table tbody tr td.fc-other-month {
		background-color: $background-normal;
	}

	&.fc-unthemed {

		tr td {
			border-top-color: $decoration-normal;
		}
		
		.fc-today {
			background-color: $background-active !important;
			color: $foreground-active;
			border-color: $decoration-normal;

			span.fc-day-number {
				font-weight: 600;
			}
		}
	}

	td.fc-day {
		&.fc-sat, &.fc-sun {
			background-color: $background-dark;

			&.fc-other-month {
				background-color: $background-normal;
			}
		}
	}
}

.fc-basic-view .fc-day-top .fc-week-number {
	background-color: $background-normal;
	color: $foreground-normal;
	border-right: 1px solid $decoration-normal;
	border-bottom: 1px solid $decoration-normal;
}

.fc th,
.fc .fc-axis,
.fc-day-grid-event .fc-time,
.fc-ltr .fc-basic-view .fc-day-number,
.fc-ltr .fc-basic-view .fc-week-number,
.fc-time-grid-event .fc-time {
	opacity: 1;
	font-size: 85%;
}

// Centers the position of the day number in the corner
.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
	padding-right: 6px;
}

#app-settings .settings-fieldset .settings-upload {
	background-color: $background-normal;
	border: 1px solid $decoration-normal;
}

.modal-open {
	
	.modal.popover, .modal.import {
		background: $background-normal;
		box-shadow: none;
	}
}

.modal-dialog .modal-content #app-sidebar {
	border: none;
}

.advanced {

	// Force location field in app sidebar to be dark
	.advanced--input {
		background: $background-dark !important;
	}

	.advanced--button-area {
		border-color: $decoration-normal;
	}
}

.advanced--fieldset-attendeelist .advanced--toggler:hover, 
.advanced--fieldset-reminderlist .advanced--toggler:hover {
	background: $background-active-hover;
}

.ui-widget-content {
	background: $background-normal;
	border: 1px solid $decoration-normal;
}

.ui-datepicker th {
	color: $foreground-normal;
}

.ui-state-default,
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	border: 1px solid $decoration-normal;
	background: $background-dark;
	font-weight: bold;
	color: $foreground-inactive;
}

.ui-state-hover,
.ui-widget-header .ui-state-hover {
	background-color: $background-normal;
	color: $foreground-normal;
}

.ui-widget-content .ui-state-hover {
	background-color: $background-active-hover;
}


.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
	opacity: .5;
	filter: Alpha(Opacity=50);
	font-weight: normal;
}

.ui-datepicker-calendar tbody tr, .ui-timepicker tbody tr {
	&:hover, &:focus, &:active {
		background-color: inherit;
	}
}

.ui-widget-header {
	border: 1px solid $decoration-active;
	background: $background-active;
	color: $foreground-normal;
}

.ui-datepicker-prev, 
.ui-datepicker-next {
	border: 1px solid $decoration-normal;
	background: $background-normal;
}