.app-deck #app-navigation {

    .app-navigation-entry-edit {
        background-color: $background-normal;
    }
}

.app-deck #app-content {

    #controls {

        #stack-add {
            background-color: $background-dark;
            border: 1px solid $decoration-normal;

            &:hover {
                border-color: $decoration-active;
            }
        }

        .board-header-controls > button {
            opacity: 1 !important;
        }
    }

    #boardlist {

        thead td {
            opacity: 1;
        }

        td {
            border-bottom-color: $decoration-normal;
        }

        .board-create td{
            border-bottom: none;
        }
    }

    #board {

        .card {
            background-color: $background-normal;
            border: 1px solid $decoration-normal;
            box-shadow: none;

            &:hover, &.current {
                border-color: $decoration-active;
            }

            &.create {
                border-color: $decoration-normal !important;

                &:hover {
                    border-color: $decoration-active !important;
                }
            }

            .card-controls {
                background-color: $background-dark;

                .due {
                    opacity: 0.7;
                    
                    span {
                        color: $foreground-active;
                    }

                    &.overdue {
                        background-color: $background-negative;
                        opacity: 1;
                    }

                    &.now {
                        background-color: $background-neutral;
                        opacity: 1;
                    }

                    &.next {
                        background-color: unset;
                        opacity: 1;
                    }
                }

                .card-files {
                    opacity: 0.7;
                }
            }
        }
    }

    #app-sidebar {

        #sidebar-header h3 {
            background-color: $background-normal;
        }

        #board-detail-labels {

            input {
                border: none;
            }

            li[ng-if$="status.createLabel"] input {
                color: $foreground-normal !important;
            }
        }

        #card-meta {

            #card-dates {
                opacity: 0.7;
            }

            .section-header {
                border-bottom-color: $decoration-normal;
            }

            .card-description.section-content .container {
                background-color: $background-normal;
            }

            .save-indicator.unsaved {
                background-color: $background-alternate;
                color: $foreground-normal;
            }

            .attachment-list {

                &.selector {
                    background-color: $background-normal;
                    box-shadow: none;
                }

                li.attachment .filesize, li.attachment .filedate {
                    color: $foreground-inactive;
                }
            }
        }
    }
}