table td.filesize {
	color: $foreground-inactive !important;
}

td.date, td.date > span {
	color: $foreground-inactive !important;
	opacity: 1;
}

table.multiselect {
	thead th {
		background-color: $background-active-hover;
		color: $foreground-normal;
	}

	th a {
		color: $foreground-normal;
	}
}

tr {
	&, &:hover, &:active, &:focus {
		span.extension {
			color: $foreground-inactive;
			opacity: 0.7;
		}
	}
}

#fileList tr td.selection > .selectCheckBox + label::before {
	opacity: 0.5;
}