.app-files #app-content {
	background-color: $background-dark;
}

.summary {
	color: $foreground-inactive;
	opacity: 1;
}

table tr.mouseOver td {
	background-color: transparent;
}

table td.filesize {
	color: $foreground-inactive !important;
}

table.multiselect {
	thead th {
		background-color: $background-active-hover;
		color: $foreground-normal;
	}

	th a {
		color: $foreground-normal;
	}
}

tr {
	&, &:hover, &:active, &:focus {
		span.extension {
			color: $foreground-inactive;
		}
	}
}

td.date, td.date > span {
	color: $foreground-inactive !important;
	opacity: 1;
}

#app-content-systemtagsfilter {
	#controls input[type="text"] {
		height: 34px;
		padding: 6px 10px;
	}

	.select2-choices {
		background-color: $background-dark;
		border-color: $decoration-normal;
		color: $foreground-normal;
	}
}

#fileList {

	a.action {
		opacity: 0.5;
	}

	.popovermenu .action {
		color: $foreground-normal;

		&:hover, &:focus, &:active {
			color: $foreground-active;
		}
	}

	tr td.selection > .selectCheckBox + label::before {
		opacity: 0.5;
	}

	.fileActionsMenu a.action:hover {
		background-color: $background-active-hover;
	}
}

#controls .button.view-switcher {
	background-color: $background-normal;
	border: 1px solid $decoration-normal;

	&:hover {
		border-color: $decoration-active;
		background-color: $background-normal;
	}

	&:focus, &:active {
		border-color: $decoration-active;
		background-color: $background-active;
	}
}