.app-settings #app-content {

    #fns, #elastic_search, #files {

        .div-table .div-table-row .div-table-col {

            select, input {
                background-color: $background-dark !important;
            }
        }
    }
}

.provider_navigation {
	color: $foreground-normal;
	background: $background-normal;
}

.result_entry_default {
	background: $background-normal;
}

#fts-popup {

    .div-table-col-left {
        color: $foreground-normal;
    }
}

#fulltextsearch .menutoggle:hover {
	opacity: 1 !important;
}