#ldapSettings {
    background-color: $background-normal;

    > fieldset {
        background-color: $background-normal;
    }

    ul.ui-tabs-nav .ui-tabs-active {
        &, & > a {
            background-color: $background-dark;
        }
    }
}