#mail-messages {
    border-right: 1px solid $decoration-normal;
    background-color: $background-dark;
}

#mail-message-header {
	background: $background-normal;

    & .transparency {
        color: $foreground-normal !important;

        a {
            color: $foreground-link !important;
        }
    }
}

#mail-content {
    background-color: #EEE;
    color: #000;
    padding: 1em;
    border: 1px solid $decoration-normal;
    border-radius: 3px;
}

#mail-new-message-fixed {
	background-color: $background-normal;
}

.mail-message-summary {
	border-top-color: $decoration-normal;

    &:first-child {
        border-top: none;
    }

    &:last-child {
        border-bottom: 1px solid $decoration-normal;
    }

    &:hover {
        background-color: $background-active-hover;
    }

    &:focus, &.active {
        background-color: $background-active;
    }

    &.unseen {
        box-shadow: inset 3px 0 $background-active-alternate;
    }
}

.date {
    opacity: 0.5;
    color: $foreground-inactive;
}

.mail-message-summary-from,
.active .date {
    opacity: 1;
    color: $foreground-inactive;
}

.mail-message-summary-subject,
.active .mail-message-summary-from {
    opacity: 1;
    color: $foreground-normal;
}

.account-toggle-collapse {
    color: $foreground-inactive;
    opacity: 0.5;

    &:hover {
        opacity: 1;
    }
}

.app-settings-hint {
    color: $foreground-inactive;
}

.transparency {
    opacity: 1;
}

input.to, input.cc, input.bcc, input.subject, textarea.message-body {
    border: none;
	border-top: 1px solid $decoration-normal;

    &:hover, &:focus, &:active {
        border-color: $decoration-normal !important;
    }
}

textarea.message-body {
    border-bottom: 1px solid $decoration-normal;
}

#setup .toggle-manual-mode {
    opacity: 0.7;
}

.folders {

    .ui-droppable-active {
        background-color: inherit;
    }
}

.mail-message-attachments .attachments {

    &> div {
        border-color: $decoration-normal;

        &:hover, span:hover {
            background-color: inherit;
        }
    }

    .attachment-download {
        opacity: 1;
        border-color: transparent;
    }
}

#app-navigation > ul > .navigation-account {

    > li > a,
    > .folders > li > a,
    > .folders > li > .folders > .folders > li > a {
        color: $foreground-normal;
        opacity: 0.75;
    }
}