.app-music {

    #app-navigation {
        
        .app-navigation-separator {
            border-bottom-color: $decoration-normal;
        }
    }

    #scanning, #toScan, #emptycontent {
        background-color: $background-normal;

        &:hover * {
            color: $foreground-normal;
        }

        .icon-audio {
            opacity: 1;
        }
    }

    .alphabet-navigation a {
        opacity: 0.2;

        &.available {
            opacity: 0.7;

            &:hover {
                opacity: 1;
            }
        }
    }

    #controls .progress-info .progress {
    
        .seek-bar {
            background-color: $background-dark;

            .buffer-bar {
                opacity: 1;
                background-color: $background-active-hover;
            }

            .play-bar {
                background-color: $background-active;
            }
        }
    }
}

#music-controls {
    background-color: $background-normal;

    #albumart {
        border: none;
    }

    .progress-info {

        .seek-bar {
            background-color: $background-dark;

            .buffer-bar {
                opacity: 1;
                background-color: $background-active-hover;
            }

            .play-bar {
                background-color: $background-active;
            }
        }
    }

    img.control {
        filter: invert(95%);
    }
}