#explore {
	
	.category {
		background-color: $background-active;
	}

	.grid-item {
		border-color: $decoration-normal;
	}

	.explore-footer a {
		color: $foreground-link;
	}
}

.app-news #app-navigation {

	li.folder {
		border-right: 1px solid $decoration-normal;
		background: $background-normal;
	}

	> ul > li > a,
	> ul > li > ul > li > a {
		color: $foreground-normal;
		opacity: 1;
	}
}

.app-news #app-content {
	border-top: 1px solid $decoration-normal;

	.item {
		background-color: $background-dark;
		border-color: $decoration-normal;
	}

	.item.active {
		background-color: $background-dark;
		background-image: none;
	}

	.date {
		color: $foreground-inactive;
	}

	.heading a {
		color: $foreground-normal;
	}

	.subtitle {
		color: $foreground-inactive;
	}

	.utils .title h1 a {
		color: $foreground-active;
	}

	.read .utils .title h1 a {
		color: $foreground-inactive;
	}

	.finished-auto-paging #articles::after {
		background-color: $background-dark;
		background-image: none;
	}

    .no-feeds-available {
        color: $foreground-markdown-marker;
    }

    .body {

        a {
		    color: $foreground-link;
        }

        blockquote {
            border-color: $decoration-active;
            background-color: $background-normal;
        }

        h1, h2, h3 {
            color: $foreground-active;
        }

        h4, h5, h6 {
            color: $foreground-normal;
        }

        pre {
            background-color: $background-normal;
            border-color: $decoration-normal;
        }

		.title .intro {
			color: $foreground-background;
		}
	}
}