.app-passman {

    #app-navigation .taginput:hover {
        background: none;
    }

    .link {
        color: $foreground-link !important;
    }

    #app-content {

        #app-content-wrapper {

            .credential-table tr td {
                border-bottom-color: $decoration-normal;
            }

            .credential-table tr {
                background-color: $background-dark;

                &:hover {
                    background-color: $background-active-hover;
                }

                &.selected {
                    background-color: $background-active;
                }
            }

            .viewModes {
                .view-mode {
                    background-color: $background-normal;

                    &.active {
                        background-color: $background-active;
                    }

                    &:first-child, &:last-child {
                        background-color: $background-normal;
                        border-color: $decoration-normal;
                    }
                }
            }

            .tags .tag {
                background-color: $background-alternate;
                border: 1px solid $decoration-normal;
            }

            .app_sidebar .credential-data .tags .tag {
                background-color: $background-alternate;
                border: 1px solid $decoration-normal;
            }

            #passman-controls {
                top: 46px;
                background-color: inherit;
                border-bottom: 1px solid $decoration-normal;
            }

            .searchboxContainer .searchOptions {
                background: $background-normal;
                border-color: $decoration-normal;
                box-shadow: none;
            }
        }

        .tab_header li.active .indicator {
            height: 5px;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $background-active !important;
        }

        .tab_header li.tab {
            border-right: 1px solid $decoration-normal;
            color: $foreground-normal !important;
            background-color: $background-normal !important;
        }

        .tab_container {
            border: none;
        }

        .pass-meter .details, .pass-meter .pass-meter-message {
            color: $foreground-inactive;
        }

        .pw-gen .generate_pw .cell {
            padding: 4.7px;
            display: inline-block;
            font-size: 14px;
            border: 1px solid $decoration-normal;
            background-color: $background-normal;
            cursor: pointer;
        }

        .pass-meter-col.poor .indicator {
            background-color: $background-negative;
        }

        .pass-meter-col.weak .indicator {
            background-color: $background-neutral;
        }

        .pass-meter-col.good .indicator {
            background-color: $background-positive;
        }

        .pass-meter-col.strong .indicator {
            background-color: $background-active;
        }

        .inputfile + label {
            font-size: 1.25em;
            background-color: $background-dark;
            margin-top: 3px;
            padding: 5px;
            border: 1px solid $decoration-normal;

            &:hover {
                border-color: $decoration-active;
            }
        }
    }
}

.vault_wrapper {
	box-shadow: none;
	background: $background-dark;
    border: 1px solid $decoration-normal;

    .vaultlist li {
        padding: 16px;
        border-bottom: 1px solid $decoration-normal;

        &:hover {
            background-color: $background-active-hover;
            border-radius: 5px 5px 0 0;
        }

        &.ng-scope:last-child {
            border-bottom: none;

            &:hover {
                background-color: $background-active-hover;
                border-radius: 0 0 5px 5px;
            }
        }
    }
}

.btn-danger, .btn-default, .btn-info, .btn-primary, .btn-success, .btn-warning {
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.btn-danger {
	background-image: none;
	filter: none;
	background-repeat: no-repeat;
    background-color: $background-negative;
	border-color: $background-negative;
}

tags-input {
    .tags {
        background-color: $background-dark;
        border: 1px solid $decoration-normal;
        box-shadow: none;

        &.focused {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-color: $decoration-active;
        }

        .tag-item.selected {
            background: $background-negative !important;
        }

        .tag-item {
            border: 1px solid $decoration-normal;
            border-radius: 3px;
            color: $foreground-normal;
        }
    }

    &.ng-invalid .tags {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border-color: $background-negative;
    }

    .autocomplete {
        background-color: $background-dark;
        border: 1px solid $decoration-normal;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        .suggestion-item.selected, .suggestion-item.selected em {
            color: $foreground-normal;
	        background-color: $background-active;
        }
    }
}

.angularjs-datetime-picker {
	color: $foreground-normal;
	border: 1px solid $decoration-normal;
	background: $background-dark;

    .adp-month {
        background: $background-dark;
        border-bottom: 1px solid $decoration-normal;

        > button {
            color: $foreground-normal;
            top: 4px;

            &:hover {
                color: $background-active;
            }
        }
    }

    .adp-days {
        > .adp-day.selected {
            background: $background-active-hover;
            border-color: $decoration-active;
        }

        > .adp-day.selectable:hover {
            background: $background-active-hover;
        }
    }

    #adp-time {
        label {
            float: left;
        }

        input[type="range"] {
            float: right;
        }
    }
}

.sequence code {
	border: none;
}

#passman-settings #passman-tabs {
    .ui-widget-header {
        border: none;
        background: #31363b;
        color: #eff0f1;
    }

    .ui-tabs .ui-tabs-nav li.ui-tabs-active {
        margin-bottom: inherit;
        padding-bottom: inherit;
    }
}

.ui-tabs .ui-tabs-nav li {
    background: $background-dark;
    border-color: $decoration-normal;
}