button#deleteaccount {
    background-color: $background-negative;

    &:hover:not(:disabled):not(.primary):not(#quota) {
        border-color: $background-negative;
    }

    &:disabled {
        background-color: $background-alternate;
    }
}