.activitymessage {
	color: $foreground-inactive;
}

.activity.box .activitytime {
	color: $foreground-inactive;
}

#no_more_activities {
	color: $foreground-inactive;
	opacity: 0.7;
}

.activity-icon {
	opacity: 0.7;
}

.activitysubject strong.systemtag {
	background-color: $background-normal;
	border: 1px solid $decoration-normal;
}