.app-calendar #app-navigation {

	.active {
		background-color: inherit;
	}

	> ul > li > .app-navigation-entry-bullet + a:hover, 
	> ul > li > ul > li > .app-navigation-entry-bullet + a:hover {
		background-color: $background-active-hover !important;
	}

	.new-entity {
		opacity: 0.7;

		&:hover {
			background-color: $background-active-hover;
			opacity: 1;
		}
	}

	.togglebuttons .button.active {
		color: $foreground-normal;
	}

	#datepickercontainer {

		.datepicker-heading .button {
			background-color: $background-normal;
		}

		#datepicker table td {
			
			button:hover {
				background-color: $background-active-hover;
				border-radius: 50%;
			}

			.text-muted {
				opacity: 0.5;
			}

			&.highlight-today {
				background-color: $background-alternate;
				border-radius: 50%;
			}

			&.highlight-weekend button {
				color: $decoration-active;

				.text-muted {
					color: $decoration-active;
				}

				&:hover {
					color: $foreground-active;
				}
			}
		}
	}
}

.app-calendar #app-content {

	#fullcalendar {
		background-color: $background-dark;

		th, td, thead, tbody, .fc-row {
			border-color: $decoration-normal;
		}
	
		table tbody tr td.fc-other-month {
			background-color: $background-normal;
			opacity: 1;

			span {
				opacity: 0.3;
			}
		}
		
		.fc-today {
			background-color: $background-active;
			color: $foreground-active;
		}

		.fc-basic-view .fc-day-top .fc-week-number {
			background-color: $background-normal;
			color: $foreground-normal;
			border-right: 1px solid $decoration-normal;
			border-bottom: 1px solid $decoration-normal;
		}
	}

	#app-sidebar {
		
		.advanced {

			// Force location field in app sidebar to be dark
			.advanced--input {
				background: $background-dark !important;
			}
		
			.advanced--button-area {
				border-color: $decoration-normal;
			}
		}
		
		.advanced--fieldset-attendeelist .advanced--toggler:hover, 
		.advanced--fieldset-reminderlist .advanced--toggler:hover {
			background: $background-active-hover;
		}
	}
}

.modal-open {
		
	.modal.popover, .modal.import {
		box-shadow: none;
		border: 1px solid $decoration-normal;
	}
}
