/* Contacts ----------------------------------------------------------------- */

.app-contacts {

	.app-content-list-item {
		color: $foreground-normal;

		&:first-child {
			border: none;
		}

		&:active, &:focus {
			background-color: $background-active;
		}

		&.active {
			background-color: $background-active;
			color: $foreground-active;
			font-weight: 600;
		}
	}

	.contactdetails__header {

		.contactdetails__name, 
		.contactdetails__org,
		.contactdetails__title {
			color: $foreground-normal !important;
			font-weight: 600;

			&:placeholder-shown {
				opacity: 1;
			}
		}

		#details-contact-infos input {

			&:hover, &:focus {
				background: none;
			}
		}
	}

	detailsitem select {
		color: $foreground-normal;
	}

	#importscreen-wrapper,
	#importscreen-sidebar-block {
		background: $background-normal;
	}

	#importscreen-progress {
		background-color: $background-dark;
	}
}
