/* LDAP --------------------------------------------------------------------- */

#ldapSettings {
    background-color: $background-normal;

    > fieldset {
        background-color: $background-normal;
    }

    ul.ui-tabs-nav .ui-tabs-active,
    ul.ui-tabs-nav .ui-tabs-active > a {
        background-color: $background-dark;
        color: $foreground-active;
    }

    div.ui-accordion-content {
        background: $background-normal;
    }

    .ldap_grey {
        color: $foreground-normal;
    }

    .ui-state-default,
    .ui-widget-content .ui-state-default,
    .ui-widget-header .ui-state-default {
        border-color: $decoration-normal !important;
        background: $background-normal !important;
        color: $foreground-normal !important;

        a,
        a:link,
        a:visited {
            color: $foreground-normal;
        }
    }
}
