/* Log reader --------------------------------------------------------------- */

#logreader-root table {

	.menu {
		background-color: $background-normal;

		h4 {
			border-bottom-color: $decoration-normal;
		}
	}

	thead th {
		color: $foreground-normal;
		border-bottom-color: $decoration-normal;
	}

	tbody tr td {
		border-bottom-color: $decoration-normal;
		background-color: $background-normal !important;
	}
}