/* Notifications ------------------------------------------------------------ */

// Top of screen notifications
#notification {
	border: 1px solid $decoration-normal;
	border-top: none;

	a {
		color: $foreground-link;
	}
}

// Notifications dropdown
.notification-container ul li:hover {
	background-color: $background-normal;
}
