 /* Notifications ----------------------------------------------------------- */

#notification {
	border: 1px solid $decoration-normal;
	border-top: none;

	a {
		color: $foreground-link;
	}
}

.notification-container .notification-time {
	opacity: 0.7;
}

.notification:not(:last-child) {
	border-bottom: 1px solid $decoration-normal;
}
