/* Tasks -------------------------------------------------------------------- */

.app-tasks #app-navigation .app-navigation-entry-edit input.action {
    background-color: $background-dark;

    &:active, &:focus {
        background-color: $background-active;
    }
}

.app-tasks #app-content {

    .sortorder-dropdown-button {
        background-color: $background-normal;
    }

    .categories-list span {
        background-color: $background-normal;
        color: $foreground-normal;
    }

    .task-body {
        background-color: $background-dark;

        &:hover {
            background-color: $background-active-hover;
        }

        &.active .title {
            font-weight: 600;
        }

        .duedate.overdue {
            color: $foreground-negative;
        }

        .percentbar {
            background-color: $background-active-hover;

            .percentdone {
                background-color: $background-active-alternate !important;
            }
        }
    }

    .task-list .loadmore span {
        color: $foreground-inactive;
        background-color: $background-normal;

        &:hover {
            color: $foreground-normal;
        }
    }
}

.app-tasks #app-sidebar div.content-wrapper {

    .title {
        background-color: $background-active;

        .expandable-container {
            background: $background-dark;
            border-color: $decoration-normal;
        }
    }

    .body .section {
        border-bottom: 1px dashed $decoration-normal;

        input,
        .note {
            background-color: $background-dark;
        }

        &.detail-categories .select2-container-multi .select2-choices .select2-search-choice {
            color: $foreground-normal;
            background-color: $background-normal;
            border-color: $decoration-normal;
        }

        .detail-categories-container .multiselect.multiselect-vue .multiselect__tag,
        .detail-calendar-container .multiselect.multiselect-vue .multiselect__tag {
            background-color: $background-normal;
        }
    }

    .title .reactive:hover .detail-checkbox:not(.disabled) {
        border-color: $background-active-alternate;
    }

    .reactive:hover .detail-checkbox:not(.disabled) {
        border-color: $decoration-active;
    }

    .footer {
        border-top: none;
    }
}

.app-tasks {

    .icon-task-star a::before,
    .icon-alphabetically,
    .icon-sort-down,
    .icon-all a::before,
    .icon-current a::before,
    .icon-add a::before,
    .icon-calendar a::before,
    .icon-checkmark a::before,
    .icon-task-star a::before,
    .icon-list,
    .icon-note,
    .icon-hide,
    .icon-percent,
    .icon-checkmark,
    .icon-tag,
    .icon-add.icon-bw,
    .icon-trash {
        filter: invert(95%);
    }

    #app-settings, .app-navigation-entry-menu {
        
        .icon-all,
        .icon-current,
        .icon-task-star,
        .icon-calendar,
        .icon-subtasks-visible {
            filter: invert(95%);
        }
    }

    #app-content {

        .icon-subtasks-visible,
        .icon-subtasks-hidden {
            filter: invert(95%);
        }
    }

    #app-sidebar {

        .icon-calendar {
            filter: invert(95%);
        }

        .icon-calendar-due {
            filter: none;
        }
    }

    #app-content, #app-sidebar {

        .icon-task-star {
            filter: invert(95%);
        }

        .icon-task-star-low,
        .icon-task-star-medium,
        .icon-task-star-high {
            filter: none;
        }
    }
}
