.app-calendar #app-content {

	.fc-view-container {

		.fc-day {
			background-color: var(--color-background-darker);

			&.fc-other-month {
				background-color: var(--color-main-background);
			}
		}

		.fc-day-top {

			&.fc-sat,
			&.fc-sun {

				.fc-day-number {
					color: var(--color-primary-element);
				}

				&.fc-today {

					&:not(.fc-day-header) {
						background-color: inherit !important;
					}
				
					.fc-day-number {
						color: var(--color-main-text);
					}
				}
			}

			&.fc-other-month {
				opacity: 0.7;
			}
		}
	}
}

.app-calendar #app-sidebar .app-sidebar-tabs__nav .app-sidebar-tabs__tab a.active {
	border-bottom-color: var(--color-primary-element);
	box-shadow: inset 0 -1px 0 var(--color-primary-element);
}

.app-calendar #app-sidebar {

	.app-sidebar-tabs__nav .app-sidebar-tabs__tab a:not(.active):hover,
	.app-sidebar-tabs__nav .app-sidebar-tabs__tab a:not(.active):focus {
		box-shadow: inset 0 -1px 0 var(--color-background-dark);
		border-bottom-color: var(--color-background-dark);
	}
}

/* Manual icon variable definitions for icons to prevent black icons -------- */

.app-calendar {

	.icon-rightarrow {
		background-image: var(--icon-calendar-rightarrow-f2f2f2) !important;
	}

	.icon-leftarrow {
		background-image: var(--icon-calendar-leftarrow-f2f2f2) !important;
	}

	.icon-view-module {
		background-image: var(--icon-calendar-view-module-f2f2f2) !important;
	}

	.icon-view-week {
		background-image: var(--icon-calendar-view-week-f2f2f2) !important;
	}

	.icon-view-day {
		background-image: var(--icon-calendar-view-day-f2f2f2) !important;
	}

	.icon-new-calendar {
		background-image: var(--icon-calendar-new-calendar-f2f2f2) !important;
	}

	.icon-new-calendar-with-task-list {
		background-image: var(--icon-calendar-new-calendar-with-task-list-f2f2f2) !important;
	}

	.icon-timezone {
		background-image: var(--icon-calendar-timezone-f2f2f2) !important;
	}

	.icon-eye {
		background-image: var(--icon-calendar-eye-f2f2f2) !important;
	}

	.icon-briefcase {
		background-image: var(--icon-calendar-briefcase-f2f2f2) !important;
	}

	.icon-reminder {
		background-image: var(--icon-calendar-reminder-f2f2f2) !important;
	}

	.icon-repeat {
		background-image: var(--icon-calendar-repeat-f2f2f2) !important;
	}
}
