.app-calendar #app-navigation {

	.active {
		background-color: inherit;
	}

	.new-entity {
		opacity: 0.7;

		&:hover {
			background-color: var(--color-background-hover);
			opacity: 1;
		}
	}

	.togglebuttons .button.active {
		color: var(--color-main-text);
	}

	#datepickercontainer {

		.datepicker-heading .button {
			background-color: var(--color-main-background);
		}

		#datepicker table td {

			&.highlight-today button {
				background-color: var(--color-background-alternate);
				border-radius: 50%;

				&.active {
					background-color: var(--color-primary-element);
				}
			}

			&.highlight-weekend button {
				color: var(--color-border-active);

				.text-muted {
					color: var(--color-border-active);
				}

				&:hover {
					color: var(--color-text-active);
				}

				&.active:hover {
					background-color: var(--color-primary-element);
				}
			}
			
			button {
			
				&:hover {
					background-color: var(--color-background-hover);
					border-radius: 50%;
				}

				&.active {
					color: var(--color-text-active);
				}
			}

			.text-muted {
				opacity: 0.57;
			}
		}
	}
}

.app-calendar #app-content {

	#fullcalendar {
		background-color: var(--color-background-darker);

		th,
		td,
		thead,
		tbody,
		.fc-row {
			border-color: var(--color-border);
		}

		.fc-basic-view {

			.fc-today {
				background-color: var(--color-primary-element);
				color: var(--color-text-active);
			}

			.fc-day-number,
			.fc-week-number {
				opacity: 1;
			}

			.fc-sat,
			.fc-sun {

				.fc-day-number {
					color: var(--color-primary-element);
				}
			}

			.fc-day-top .fc-week-number {
				background-color: var(--color-main-background);
				color: var(--color-main-text);
				border-right: 1px solid var(--color-border);
				border-bottom: 1px solid var(--color-border);
			}

			.fc-other-month {
				background-color: var(--color-main-background);
				opacity: 1;
	
				.fc-day-number,
				.fc-week-number {
					opacity: 0.57;
				}
			}
		}

		.fc-agenda-view {

			.fc-divider {
				border-color: var(--color-border);
				background-color: var(--color-border);
			}

			.fc-today {
				background-color: var(--color-background-hover);
			}
		}

		.fc-axis,
		.fc-day-header {
			opacity: 1;
		}

		.fc-highlight {
			background-color: var(--color-background-hover);
			opacity: 1;
		}
	}

	#app-sidebar {
		
		&.advanced {

			// Force location field in app sidebar to be dark
			.advanced--input {
				background: var(--color-background-darker) !important;
			}
		
			.advanced--button-area {
				border-color: var(--color-border);
			}
		}
		
		.advanced--fieldset-attendeelist .advanced--toggler:hover, 
		.advanced--fieldset-reminderlist .advanced--toggler:hover {
			background: var(--color-background-hover);
		}
	}
}

.modal-open {
		
	.modal.popover, .modal.import {
		box-shadow: none;
		border: 1px solid var(--color-border);
	}
}
