/* Text Editor -------------------------------------------------------------- */

#editor_container {
    background-color: $decoration-normal;
}

#editor_controls {
    background-color: $background-normal;

    small {
        &.filename {
            color: $foreground-normal;
        }

        &.saving-message {
            color: $foreground-inactive;
        }
    }

    #editor_close {
        opacity: 1;

        &:hover {
            background-color: $background-active-hover;
        }

        &:active,
        &:focus {
            background-color: $background-active;
        }
    }
}

#editor.ace_editor,
#sidebar_editor.ace_editor {
    background-color: $background-dark !important;
    color: $foreground-normal !important;

    .ace_gutter {
        color: $foreground-normal !important;
        opacity: 1 !important;

        .ace_gutter-cell {
            opacity: 0.7;
        }
    }

    .ace_gutter-active-line {
        background-color: $background-active-hover !important;
    }

    .ace_marker-layer {
        .ace_active-line {
            background: $background-dark !important;
        }

        .ace_selection {
            background: $background-active-hover !important;
        }
    }

    .ace_cursor {
        color: $foreground-normal !important;
    }
}

#sidebar_editor.ace_editor .ace_cursor {
    display: none;
}
