/* Text Editor -------------------------------------------------------------- */

#app-content-texteditor #editor_container {
    background-color: var(--color-main-background);
}

#app-content-texteditor #editor_controls {
    background-color: var(--color-main-background);

    small.filename {
        color: var(--color-main-text);
    }

    small.saving-message {
        color: var(--color-text-maxcontrast);
    }

    #editor_close {
        opacity: 1;

        &:hover {
            background-color: var(--color-background-hover);
        }

        &:active,
        &:focus {
            background-color: var(--color-primary);
        }
    }
}

#filestexteditor.ace_editor {
    background-color: var(--color-main-background);
    color: var(--color-main-text);

    .ace_gutter {
        color: var(--color-text-maxcontrast);
        opacity: 1;
    }

    .ace_gutter-active-line {
        background-color: var(--color-background-darker);
    }

    .ace_marker-layer {
        .ace_active-line {
            background: var(--color-background-darker) !important;
        }

        .ace_selection {
            background: var(--color-primary);
        }
    }

    .ace_cursor {
        color: var(--color-main-text);
    }
}
