/* Group folders ------------------------------------------------------------ */

#groupfolders-wrapper #groupfolders-root {

	th {
		border-bottom-color: var(--color-border);
	}

	td .action-rename::after {
		filter: invert(95%);
	}
	
	.groups .group-edit {
		background-color: var(--color-main-background) !important;
		border-color: var(--color-border) !important;

		div[class$="control"] {
			border-color: var(--color-border) !important;
		}
	}

	.acl {

		div[class$="control"] {
			background-color: var(--color-main-background) !important;
			border-color: var(--color-border) !important;
		}
	}
}
