/* News --------------------------------------------------------------------- */

.app-news #app-navigation {
	
	.add-new .heading {
	
		&:hover {
			background-color: $background-active-hover;
		}

		button:active,
		button:focus {
			background-color: transparent;
		}
	}

	#app-settings-content a {
		color: $foreground-link;
	}
}

.app-news #app-content {

	.item.active {
		background-image: none;
	}

    .body {
		font-size: 15px;

        a {
		    color: $foreground-link;
        }

        blockquote {
            border-color: $background-active-alternate;
        }

        h1, h2, h3 {
            color: $foreground-active;
        }
	}
}

.app-news #explore {

	.grid-item {
		border-color: $decoration-normal;
	}

	.explore-footer a {
		color: $foreground-link;
	}
}
